* {
  transition: all 0.5s ease; }

#container {
  width: 100%;
  height: 100%; }
  #container > #headerBox {
    background-color: #fe1; }
  #container > #banner {
    background-color: #030; }
  #container > #sectionBox1 {
    background-color: #310; }
  #container > #sectionBox2 {
    background-color: #acc; }
  #container > #sectionBox3 {
    background-color: #d31; }
  #container > #sectionBox4 {
    background-color: #a47; }
  #container > #sectionBox5 {
    background-color: #8f8; }
  #container > #footerBox {
    background-color: #000; }

@media screen and (max-width: 480px) {
  .inbox {
    width: inherit;
    height: inherit; }

  #container > #headerBox {
    width: calc(100% - 20px);
    height: 40px;
    padding: 10px; }
    #container > #headerBox .inbox > #sitemap {
      display: none; }
    #container > #headerBox .inbox > h1 {
      width: 200px;
      height: 30px;
      float: left; }
      #container > #headerBox .inbox > h1 > a {
        display: block;
        width: 100%;
        height: 100%;
        background: url(../img/header/h1.png) no-repeat center; }
    #container > #headerBox .inbox > #gnb {
      cursor: pointer;
      width: 40px;
      height: 40px;
      background-color: #fff;
      float: right; }
      #container > #headerBox .inbox > #gnb > ul {
        display: none; }
  #container > #banner {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative; }
    #container > #banner > ol {
      width: 50px;
      height: 10px;
      position: absolute;
      bottom: 40px;
      left: 50%;
      margin-left: -25px; }
      #container > #banner > ol > li {
        cursor: pointer;
        float: left;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        background-color: #fff;
        border-radius: 50%; }
        #container > #banner > ol > li:last-child {
          margin-right: 0; }
        #container > #banner > ol > li:hover {
          background-color: #f06; }
    #container > #banner > ul {
      width: 300%;
      height: 100%;
      margin-left: -100%; }
      #container > #banner > ul > li {
        width: calc(100% / 3);
        height: 100%;
        float: left; }
        #container > #banner > ul > li > button {
          width: 100%;
          height: 100%; }
        #container > #banner > ul > li:nth-child(1) > button {
          background: url(../img/bg/bg_01.jpg) no-repeat;
          background-size: 100%; }
        #container > #banner > ul > li:nth-child(2) > button {
          background: url(../img/bg/bg_03.jpg) no-repeat;
          background-size: 100%; }
        #container > #banner > ul > li:nth-child(3) > button {
          background: url(../img/bg/bg_03.jpg) no-repeat;
          background-size: 100%; }
  #container > #sectionBox1 {
    width: 100%;
    height: 150px; }
    #container > #sectionBox1 > .inbox > #box_01 {
      width: calc(100% / 3);
      height: 100%;
      float: left;
      background-color: #d9d; }
    #container > #sectionBox1 > .inbox > #box_02 {
      width: calc(100% / 3);
      height: 100%;
      float: left;
      background-color: #19d; }
    #container > #sectionBox1 > .inbox > #box_03 {
      width: calc(100% / 3);
      height: 100%;
      float: left;
      background-color: #d00; }
  #container > #sectionBox2 {
    display: none; }
  #container > #sectionBox3 {
    width: 100%;
    height: auto; }
    #container > #sectionBox3 > .inbox > h1 {
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: center; }
    #container > #sectionBox3 > .inbox > #box_04 {
      width: 100%;
      height: 150px;
      background-color: #f9f; }
    #container > #sectionBox3 > .inbox > #box_05 {
      width: 100%;
      height: 150px;
      background-color: #a9f; }
    #container > #sectionBox3 > .inbox > #box_06 {
      width: 100%;
      height: 150px;
      background-color: #f9a; }
  #container > #sectionBox4 {
    display: none; }
  #container > #sectionBox5 {
    width: 100%;
    height: auto; }
    #container > #sectionBox5 > .inbox {
      width: calc(100% - 40px);
      height: 260px;
      padding: 20px;
      background-color: #d91; }
      #container > #sectionBox5 > .inbox > h1 {
        background-color: #ddd;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center; }
      #container > #sectionBox5 > .inbox > ul {
        width: 100%;
        height: calc(100% - 50px);
        background-color: #ada; }
        #container > #sectionBox5 > .inbox > ul > li {
          float: left;
          width: calc(100% / 3);
          height: 50%;
          border: 1px solid;
          box-sizing: border-box; }
          #container > #sectionBox5 > .inbox > ul > li:nth-child(7) {
            display: none; }
          #container > #sectionBox5 > .inbox > ul > li:nth-child(8) {
            display: none; }
          #container > #sectionBox5 > .inbox > ul > li:nth-child(9) {
            display: none; }
          #container > #sectionBox5 > .inbox > ul > li:nth-child(10) {
            display: none; }
          #container > #sectionBox5 > .inbox > ul > li:hover {
            background-color: #f87; }
  #container > #footerBox {
    width: 100%;
    height: 40px;
    padding-top: 10px; }
    #container > #footerBox > .inbox > #top {
      margin: 0 auto;
      width: 200px;
      height: 30px;
      background: url(../img/footer/top.png) no-repeat; }
      #container > #footerBox > .inbox > #top:hover {
        background: url(../img/footer/_top.png) no-repeat; } }
@media screen and (min-width: 481px) and (max-width: 640px) {
  .inbox {
    width: inherit;
    height: inherit; }

  #container > #headerBox {
    width: calc(100% - 20px);
    height: 40px;
    padding: 10px; }
    #container > #headerBox .inbox > #sitemap {
      display: none; }
    #container > #headerBox .inbox > h1 {
      width: 200px;
      height: 30px;
      float: left; }
      #container > #headerBox .inbox > h1 > a {
        display: block;
        width: 100%;
        height: 100%;
        background: url(../img/header/h1.png) no-repeat center; }
    #container > #headerBox .inbox > #gnb {
      cursor: pointer;
      width: 40px;
      height: 40px;
      background-color: #fff;
      float: right; }
      #container > #headerBox .inbox > #gnb > ul {
        display: none; }
  #container > #banner {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative; }
    #container > #banner > ol {
      width: 50px;
      height: 10px;
      position: absolute;
      bottom: 40px;
      left: 50%;
      margin-left: -25px; }
      #container > #banner > ol > li {
        cursor: pointer;
        float: left;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        background-color: #fff;
        border-radius: 50%; }
        #container > #banner > ol > li:last-child {
          margin-right: 0; }
        #container > #banner > ol > li:hover {
          background-color: #f06; }
    #container > #banner > ul {
      width: 300%;
      height: 100%;
      margin-left: -100%; }
      #container > #banner > ul > li {
        width: calc(100% / 3);
        height: 100%;
        float: left; }
        #container > #banner > ul > li > button {
          width: 100%;
          height: 100%; }
        #container > #banner > ul > li:nth-child(1) > button {
          background: url(../img/bg/bg_01.jpg) no-repeat;
          background-size: 100%; }
        #container > #banner > ul > li:nth-child(2) > button {
          background: url(../img/bg/bg_03.jpg) no-repeat;
          background-size: 100%; }
        #container > #banner > ul > li:nth-child(3) > button {
          background: url(../img/bg/bg_03.jpg) no-repeat;
          background-size: 100%; }
  #container > #sectionBox1 {
    width: 100%;
    height: 150px; }
    #container > #sectionBox1 > .inbox > #box_01 {
      width: calc(100% / 3);
      height: 100%;
      float: left;
      background-color: #d9d; }
    #container > #sectionBox1 > .inbox > #box_02 {
      width: calc(100% / 3);
      height: 100%;
      float: left;
      background-color: #19d; }
    #container > #sectionBox1 > .inbox > #box_03 {
      width: calc(100% / 3);
      height: 100%;
      float: left;
      background-color: #d00; }
  #container > #sectionBox2 {
    display: none; }
  #container > #sectionBox3 {
    width: 100%;
    height: auto; }
    #container > #sectionBox3 > .inbox > h1 {
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: center; }
    #container > #sectionBox3 > .inbox > #box_04 {
      width: 100%;
      height: 150px;
      background-color: #f9f; }
    #container > #sectionBox3 > .inbox > #box_05 {
      width: 100%;
      height: 150px;
      background-color: #a9f; }
    #container > #sectionBox3 > .inbox > #box_06 {
      width: 100%;
      height: 150px;
      background-color: #f9a; }
  #container > #sectionBox4 {
    display: none; }
  #container > #sectionBox5 {
    width: 100%;
    height: auto; }
    #container > #sectionBox5 > .inbox {
      width: calc(100% - 40px);
      height: 260px;
      padding: 20px;
      background-color: #d91; }
      #container > #sectionBox5 > .inbox > h1 {
        background-color: #ddd;
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center; }
      #container > #sectionBox5 > .inbox > ul {
        width: 100%;
        height: calc(100% - 50px);
        background-color: #ada; }
        #container > #sectionBox5 > .inbox > ul > li {
          float: left;
          width: calc(100% / 3);
          height: 50%;
          border: 1px solid;
          box-sizing: border-box; }
          #container > #sectionBox5 > .inbox > ul > li:nth-child(7) {
            display: none; }
          #container > #sectionBox5 > .inbox > ul > li:nth-child(8) {
            display: none; }
          #container > #sectionBox5 > .inbox > ul > li:nth-child(9) {
            display: none; }
          #container > #sectionBox5 > .inbox > ul > li:nth-child(10) {
            display: none; }
          #container > #sectionBox5 > .inbox > ul > li:hover {
            background-color: #f87; }
  #container > #footerBox {
    width: 100%;
    height: 40px;
    padding-top: 10px; }
    #container > #footerBox > .inbox > #top {
      margin: 0 auto;
      width: 200px;
      height: 30px;
      background: url(../img/footer/top.png) no-repeat; }
      #container > #footerBox > .inbox > #top:hover {
        background: url(../img/footer/_top.png) no-repeat; } }
@media screen and (min-width: 1025px) {
  .inbox {
    width: 960px;
    height: calc(100% - 100px);
    margin: 0 auto;
    padding: 50px 0; }

  #container > #headerBox {
    width: 100%;
    height: 6.25rem; }
    #container > #headerBox > .inbox {
      height: 100%;
      padding: 0; }
      #container > #headerBox > .inbox > #sitemap {
        width: calc(100% - 10px);
        padding: 2px 10px 2px 0;
        height: 20px;
        background-color: #0a0; }
        #container > #headerBox > .inbox > #sitemap > ul {
          float: right;
          width: 300px;
          height: 100%; }
          #container > #headerBox > .inbox > #sitemap > ul > li {
            float: left;
            height: 100%; }
            #container > #headerBox > .inbox > #sitemap > ul > li > a {
              font-size: 0.75rem;
              color: #595959;
              display: block;
              line-height: 20px; }
            #container > #headerBox > .inbox > #sitemap > ul > li:nth-of-type(1) {
              width: 34px; }
              #container > #headerBox > .inbox > #sitemap > ul > li:nth-of-type(1) > a {
                width: 100%;
                height: 100%; }
            #container > #headerBox > .inbox > #sitemap > ul > li:nth-of-type(2) {
              width: 26px; }
              #container > #headerBox > .inbox > #sitemap > ul > li:nth-of-type(2) > a {
                width: 100%;
                height: 100%; }
            #container > #headerBox > .inbox > #sitemap > ul > li:nth-of-type(3) {
              width: 28px; }
              #container > #headerBox > .inbox > #sitemap > ul > li:nth-of-type(3) > a {
                width: 100%;
                height: 100%; }
            #container > #headerBox > .inbox > #sitemap > ul > li:nth-of-type(4) {
              width: 38px; }
              #container > #headerBox > .inbox > #sitemap > ul > li:nth-of-type(4) > a {
                width: 100%;
                height: 100%; }
            #container > #headerBox > .inbox > #sitemap > ul > li:nth-of-type(5) {
              width: 50px; }
              #container > #headerBox > .inbox > #sitemap > ul > li:nth-of-type(5) > a {
                width: 100%;
                height: 100%; }
          #container > #headerBox > .inbox > #sitemap > ul > span {
            width: 5px;
            height: 13px;
            margin: 2px 10px 0 5px;
            border-right: 1px solid #010101;
            float: left; }
      #container > #headerBox > .inbox > h1 {
        width: 200px;
        height: 50px;
        margin-top: 10px;
        margin-left: 10px;
        background: url(../img/header/h1.png) no-repeat 100%;
        float: left; }
      #container > #headerBox > .inbox > #gnb {
        width: 530px;
        height: 30px;
        background-color: #acc;
        float: right;
        margin-top: 30px;
        margin-right: 10px; }
        #container > #headerBox > .inbox > #gnb > ul {
          width: 100%;
          height: 100%; }
          #container > #headerBox > .inbox > #gnb > ul > li {
            float: left;
            margin-right: 15px;
            line-height: 30px; }
            #container > #headerBox > .inbox > #gnb > ul > li > a {
              font-size: 1rem;
              color: #595959; }
            #container > #headerBox > .inbox > #gnb > ul > li:nth-child(1) {
              width: 70px;
              height: 100%; }
            #container > #headerBox > .inbox > #gnb > ul > li:nth-child(2) {
              width: 95px;
              height: 100%; }
            #container > #headerBox > .inbox > #gnb > ul > li:nth-child(3) {
              width: 75px;
              height: 100%; }
            #container > #headerBox > .inbox > #gnb > ul > li:nth-child(4) {
              width: 115px;
              height: 30px; }
            #container > #headerBox > .inbox > #gnb > ul > li:nth-child(5) {
              width: 20px;
              height: 24px; }
              #container > #headerBox > .inbox > #gnb > ul > li:nth-child(5) > a {
                display: block;
                width: 100%;
                height: calc(100% - 4px);
                margin-top: 4px;
                background: url(../img/logo/facebook_logo.png) no-repeat;
                background-size: 100%; }
            #container > #headerBox > .inbox > #gnb > ul > li:nth-child(6) {
              width: 20px;
              height: 24px; }
              #container > #headerBox > .inbox > #gnb > ul > li:nth-child(6) > a {
                display: block;
                width: 100%;
                height: calc(100% - 4px);
                margin-top: 4px;
                background: url(../img/logo/instagram.png) no-repeat;
                background-size: 100%; }
            #container > #headerBox > .inbox > #gnb > ul > li:nth-child(7) {
              width: 20px;
              height: 24px; }
              #container > #headerBox > .inbox > #gnb > ul > li:nth-child(7) > a {
                display: block;
                width: 100%;
                height: calc(100% - 4px);
                margin-top: 4px;
                background: url(../img/logo/youtube_logo.png) no-repeat;
                background-size: 100%; }
  #container > #banner {
    width: 100%;
    height: 700px;
    overflow: hidden;
    position: relative; }
    #container > #banner > ol {
      position: absolute;
      bottom: 30px;
      left: 50%;
      margin-left: 0 30px;
      width: 50px;
      height: 10px; }
      #container > #banner > ol > li {
        cursor: pointer;
        background-color: #fff;
        width: 10px;
        height: 10px;
        margin-right: 10px;
        float: left;
        border-radius: 50%; }
        #container > #banner > ol > li:last-child {
          margin-right: 0; }
        #container > #banner > ol > li:hover {
          background-color: #f06; }
    #container > #banner > ul {
      width: 300%;
      height: 100%;
      margin-left: -100%; }
    #container > #banner > ul > li {
      width: calc(100% / 3);
      height: 100%;
      float: left; }
      #container > #banner > ul > li > button {
        width: 100%;
        height: 100%; }
      #container > #banner > ul > li:nth-child(1) > button {
        background: url(../img/bg/bg_01.jpg) no-repeat;
        background-size: 100%; }
      #container > #banner > ul > li:nth-child(2) > button {
        background: url(../img/bg/bg_01.jpg) no-repeat;
        background-size: 100%; }
      #container > #banner > ul > li:nth-child(3) > button {
        background: url(../img/bg/bg_03.jpg) no-repeat;
        background-size: 100%; }
  #container > #sectionBox1 {
    width: 100%;
    height: 500px; }
    #container > #sectionBox1 > .inbox > #box_01 {
      width: 30%;
      height: 100%;
      background-color: #f8f;
      float: left; }
    #container > #sectionBox1 > .inbox > #box_02 {
      width: 40%;
      height: 100%;
      background-color: #a8f;
      float: left; }
    #container > #sectionBox1 > .inbox > #box_03 {
      width: 30%;
      height: 100%;
      background-color: #fff;
      float: left; }
  #container > #sectionBox2 {
    width: 100%;
    height: 700px; }
    #container > #sectionBox2 > .inbox > #miniBanner {
      width: 500px;
      height: 100%;
      background-color: #f11;
      box-shadow: 20px 20px 20px #888;
      position: relative;
      overflow: hidden; }
      #container > #sectionBox2 > .inbox > #miniBanner > ol {
        position: absolute;
        left: 20%;
        bottom: 10%;
        width: 60px;
        height: 20px; }
        #container > #sectionBox2 > .inbox > #miniBanner > ol > li {
          cursor: pointer;
          width: 20px;
          height: 20px;
          float: left;
          margin-right: 20px;
          background-color: #fff; }
          #container > #sectionBox2 > .inbox > #miniBanner > ol > li:nth-child(1) {
            background: url(../img/btn/left.png) no-repeat;
            background-size: 100% 100%; }
          #container > #sectionBox2 > .inbox > #miniBanner > ol > li:nth-child(2) {
            margin-right: 0;
            background: url(../img/btn/right.png) no-repeat;
            background-size: 100% 100%; }
      #container > #sectionBox2 > .inbox > #miniBanner > ul {
        width: 200%;
        height: 100%;
        margin-left: -100%; }
        #container > #sectionBox2 > .inbox > #miniBanner > ul > li {
          width: calc(100% / 2);
          height: 100%;
          float: left; }
          #container > #sectionBox2 > .inbox > #miniBanner > ul > li:nth-child(1) {
            background-color: #d81; }
          #container > #sectionBox2 > .inbox > #miniBanner > ul > li:nth-child(2) {
            background-color: #dd1; }
  #container > #sectionBox3 {
    width: 100%;
    height: 500px; }
    #container > #sectionBox3 > .inbox > h1 {
      border: 1px solid;
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: center; }
    #container > #sectionBox3 > .inbox > #box_04 {
      width: 30%;
      height: calc(100% - 50px);
      float: left;
      background-color: #f1a; }
    #container > #sectionBox3 > .inbox > #box_05 {
      width: 40%;
      height: calc(100% - 50px);
      float: left;
      background-color: #a91; }
    #container > #sectionBox3 > .inbox > #box_06 {
      width: 30%;
      height: calc(100% - 50px);
      float: left;
      background-color: #f1a; }
  #container > #sectionBox4 {
    width: 100%;
    height: 600px; }
    #container > #sectionBox4 > .inbox > h1 {
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: center; }
    #container > #sectionBox4 > .inbox > #movie {
      width: 100%;
      height: calc(100% - 50px);
      background-color: #91a; }
      #container > #sectionBox4 > .inbox > #movie > video {
        padding: 20px;
        width: calc(60% - 40px);
        height: calc( 100% - 40px);
        background-color: #d9a;
        float: left; }
      #container > #sectionBox4 > .inbox > #movie > #videoText {
        padding: 20px;
        width: calc(40% - 40px);
        height: calc( 100% - 40px);
        background-color: #ddd;
        float: left; }
  #container > #sectionBox5 {
    width: 100%;
    height: 500px; }
    #container > #sectionBox5 > .inbox > h1 {
      width: 100%;
      height: 30px;
      line-height: 30px;
      text-align: center; }
      #container > #sectionBox5 > .inbox > h1 > em {
        color: blue; }
    #container > #sectionBox5 > .inbox > ul {
      width: 100%;
      height: calc(100% - 30px);
      background-color: #ada; }
      #container > #sectionBox5 > .inbox > ul > li {
        float: left;
        width: calc(100% / 5);
        height: 50%;
        border: 1px solid;
        box-sizing: border-box; }
        #container > #sectionBox5 > .inbox > ul > li:hover {
          background-color: #f87; }
  #container > #footerBox {
    width: 100%;
    height: 12.5rem; }
    #container > #footerBox > .inbox {
      padding: 30px 0 0 0;
      height: calc(100% - 30px); } }

/*# sourceMappingURL=index.css.map */
