@media screen and (max-width: 480px) {
  #container {
    width: 100%;
    height: auto; }
    #container #sectionBox1 {
      width: 100%;
      height: auto; }
      #container #sectionBox1 > .intro {
        width: 100%;
        height: auto; }
        #container #sectionBox1 > .intro > dl {
          width: 100%;
          height: auto;
          background-image: url(../img/page2/supreme_01.jpg);
          background-repeat: no-repeat;
          background-size: 100% 100%; }
          #container #sectionBox1 > .intro > dl > dt {
            width: 100%;
            height: auto; }
            #container #sectionBox1 > .intro > dl > dt > h1 {
              width: 100%;
              height: 5rem;
              font-size: 2.2rem;
              color: #fff;
              line-height: 80px;
              text-align: center;
              text-decoration: underline;
              border-bottom: 1px solid  #fff; }
            #container #sectionBox1 > .intro > dl > dt > ul {
              width: 100%;
              height: auto; }
              #container #sectionBox1 > .intro > dl > dt > ul > li {
                width: 100%;
                height: 4rem;
                text-align: center;
                font-size: 1.7rem;
                border-bottom: 1px solid  #fff; }
                #container #sectionBox1 > .intro > dl > dt > ul > li > a {
                  width: 100%;
                  height: 100%;
                  display: block;
                  white-space: pre-line;
                  color: #fff;
                  line-height: 75px; }
          #container #sectionBox1 > .intro > dl > dd {
            width: 100%;
            height: 4rem;
            border-bottom: 1px solid  #fff; }
            #container #sectionBox1 > .intro > dl > dd > a {
              width: 100%;
              height: 100%;
              display: block;
              text-align: center;
              font-size: 1.7rem; }
              #container #sectionBox1 > .intro > dl > dd > a > span {
                width: 100%;
                height: 100%;
                color: #fff;
                line-height: 75px; } }
@media screen and (min-width: 481px) and (max-width: 640px) {
  #container {
    width: 100%;
    height: auto; }
    #container #sectionBox1 {
      width: 100%;
      height: auto; }
      #container #sectionBox1 > .intro {
        width: 100%;
        height: auto; }
        #container #sectionBox1 > .intro > dl {
          width: 100%;
          height: auto;
          background-image: url(../img/page2/supreme_01.jpg);
          background-repeat: no-repeat;
          background-size: 100% 100%; }
          #container #sectionBox1 > .intro > dl > dt {
            width: 100%;
            height: auto; }
            #container #sectionBox1 > .intro > dl > dt > h1 {
              width: 100%;
              height: 5rem;
              font-size: 2.2rem;
              color: #fff;
              line-height: 80px;
              text-align: center;
              text-decoration: underline;
              border-bottom: 1px solid  #fff; }
            #container #sectionBox1 > .intro > dl > dt > ul {
              width: 100%;
              height: auto; }
              #container #sectionBox1 > .intro > dl > dt > ul > li {
                width: 100%;
                height: 4rem;
                text-align: center;
                font-size: 1.7rem;
                border-bottom: 1px solid  #fff; }
                #container #sectionBox1 > .intro > dl > dt > ul > li > a {
                  width: 100%;
                  height: 100%;
                  display: block;
                  white-space: pre-line;
                  color: #fff;
                  line-height: 75px; }
          #container #sectionBox1 > .intro > dl > dd {
            width: 100%;
            height: 4rem;
            border-bottom: 1px solid  #fff; }
            #container #sectionBox1 > .intro > dl > dd > a {
              width: 100%;
              height: 100%;
              display: block;
              text-align: center;
              font-size: 1.7rem; }
              #container #sectionBox1 > .intro > dl > dd > a > span {
                width: 100%;
                height: 100%;
                color: #fff;
                line-height: 75px; } }
@media screen and (min-width: 641px) and (max-width: 768px) {
  html, body {
    height: 100%; }

  #container {
    width: 100%;
    height: 100%; }
    #container #sectionBox1 {
      width: 100%;
      height: 100%; }
      #container #sectionBox1 > .intro {
        width: 100%;
        height: 100%; }
        #container #sectionBox1 > .intro > dl {
          padding: 10px;
          width: calc(100% - 20px);
          height: calc(100% - 20px); }
          #container #sectionBox1 > .intro > dl > dt {
            overflow: hidden;
            position: relative;
            width: 50%;
            height: 100%;
            float: left;
            background-image: url(../img/page2/supreme_01.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%; }
            #container #sectionBox1 > .intro > dl > dt > h1 {
              margin-left: 5%;
              margin-top: 80%;
              width: 90%;
              height: 80px;
              cursor: pointer;
              font-size: 3rem;
              color: #fff;
              text-decoration: underline;
              line-height: 90px;
              text-align: center;
              background-color: #000; }
            #container #sectionBox1 > .intro > dl > dt > ul {
              margin-left: 5%;
              margin-top: 5%;
              width: 90%;
              height: 30%;
              background-color: #000; }
              #container #sectionBox1 > .intro > dl > dt > ul > li {
                width: 100%;
                height: 25%;
                text-align: center;
                font-size: 1.5rem;
                border-bottom: 1px solid  #fff; }
                #container #sectionBox1 > .intro > dl > dt > ul > li > a {
                  transition: all 0.3;
                  color: #fff;
                  line-height: 75px; }
                #container #sectionBox1 > .intro > dl > dt > ul > li:nth-child(4) {
                  border-bottom: 0; }
          #container #sectionBox1 > .intro > dl > dd {
            border-left: 2px solid;
            box-sizing: border-box;
            overflow: hidden;
            position: relative;
            width: 50%;
            height: calc(100% / 4);
            float: left;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
            transition: all 0.3s; }
            #container #sectionBox1 > .intro > dl > dd:nth-of-type(1) {
              background-image: url(../img/hustle_01.jpg); }
            #container #sectionBox1 > .intro > dl > dd:nth-of-type(2) {
              background-image: url(../img/cafe_02.jpg); }
            #container #sectionBox1 > .intro > dl > dd:nth-of-type(3) {
              background-image: url(../img/hustle_04.jpg); }
            #container #sectionBox1 > .intro > dl > dd:nth-of-type(4) {
              background-image: url(../img/hustle_04.jpg); }
            #container #sectionBox1 > .intro > dl > dd > a {
              width: 100%;
              height: 100%;
              display: block;
              text-align: center;
              font-size: 2rem; }
              #container #sectionBox1 > .intro > dl > dd > a > span {
                width: 100%;
                height: 40px;
                position: absolute;
                top: 50%;
                margin-top: -20px;
                color: #fff; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  html, body {
    height: 100%; }

  #container {
    width: 100%;
    height: 100%; }
    #container #sectionBox1 {
      width: 100%;
      height: 100%; }
      #container #sectionBox1 > .intro {
        width: 100%;
        height: 100%; }
        #container #sectionBox1 > .intro > dl {
          padding: 10px;
          width: calc(100% - 20px);
          height: calc(100% - 20px); }
          #container #sectionBox1 > .intro > dl > dt {
            overflow: hidden;
            position: relative;
            width: 50%;
            height: 100%;
            float: left;
            background-image: url(../img/page2/supreme_01.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%; }
            #container #sectionBox1 > .intro > dl > dt > h1 {
              margin-left: 5%;
              margin-top: 70%;
              width: 90%;
              height: 80px;
              cursor: pointer;
              font-size: 3rem;
              color: #fff;
              text-decoration: underline;
              line-height: 90px;
              text-align: center;
              background-color: #000; }
            #container #sectionBox1 > .intro > dl > dt > ul {
              margin-left: 5%;
              margin-top: 5%;
              width: 90%;
              height: 30%;
              background-color: #000; }
              #container #sectionBox1 > .intro > dl > dt > ul > li {
                width: 100%;
                height: 25%;
                text-align: center;
                font-size: 2rem;
                border-bottom: 1px solid  #fff; }
                #container #sectionBox1 > .intro > dl > dt > ul > li > a {
                  transition: all 0.3;
                  color: #fff;
                  line-height: 75px; }
                #container #sectionBox1 > .intro > dl > dt > ul > li:nth-child(4) {
                  border-bottom: 0; }
          #container #sectionBox1 > .intro > dl > dd {
            border-left: 2px solid;
            box-sizing: border-box;
            overflow: hidden;
            position: relative;
            width: 50%;
            height: calc(100% / 4);
            float: left;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
            transition: all 0.3s; }
            #container #sectionBox1 > .intro > dl > dd:nth-of-type(1) {
              background-image: url(../img/hustle_01.jpg); }
            #container #sectionBox1 > .intro > dl > dd:nth-of-type(2) {
              background-image: url(../img/cafe_02.jpg); }
            #container #sectionBox1 > .intro > dl > dd:nth-of-type(3) {
              background-image: url(../img/hustle_04.jpg); }
            #container #sectionBox1 > .intro > dl > dd:nth-of-type(4) {
              background-image: url(../img/hustle_01.jpg); }
            #container #sectionBox1 > .intro > dl > dd > a {
              width: 100%;
              height: 100%;
              display: block;
              text-align: center;
              font-size: 2rem; }
              #container #sectionBox1 > .intro > dl > dd > a > span {
                width: 100%;
                height: 40px;
                position: absolute;
                top: 50%;
                margin-top: -20px;
                color: #fff; } }
@media screen and (min-width: 1025px) {
  html, body {
    height: 100%; }

  #container {
    width: 100%;
    height: 100%; }
    #container #sectionBox1 {
      width: 100%;
      height: 100%; }
      #container #sectionBox1 > .intro {
        width: 100%;
        height: 100%; }
        #container #sectionBox1 > .intro > dl {
          padding: 10px;
          width: calc(100% - 20px);
          height: calc(100% - 20px); }
          #container #sectionBox1 > .intro > dl > dt {
            overflow: hidden;
            position: relative;
            width: 50%;
            height: 100%;
            float: left;
            background-image: url(../img/page2/supreme_01.jpg);
            background-repeat: no-repeat;
            background-size: 100% 100%; }
            #container #sectionBox1 > .intro > dl > dt > h1 {
              transition: all 0.3s;
              width: 300px;
              height: 80px;
              cursor: pointer;
              font-size: 3rem;
              color: #fff;
              text-decoration: underline;
              line-height: 90px;
              text-align: center;
              position: absolute;
              top: 45%;
              left: 50%;
              margin-left: -150px;
              background-color: #000; }
              #container #sectionBox1 > .intro > dl > dt > h1:hover {
                color: #d12948; }
            #container #sectionBox1 > .intro > dl > dt > ul {
              display: none;
              position: absolute;
              top: 60%;
              left: 50%;
              margin-left: -150px;
              width: 300px;
              height: 300px;
              background-color: #000; }
              #container #sectionBox1 > .intro > dl > dt > ul > li {
                width: 100%;
                height: 25%;
                text-align: center;
                font-size: 1.5rem;
                border-bottom: 1px solid  #fff; }
                #container #sectionBox1 > .intro > dl > dt > ul > li > a {
                  transition: all 0.3s;
                  color: #fff;
                  line-height: 75px; }
                  #container #sectionBox1 > .intro > dl > dt > ul > li > a:hover {
                    color: #d12948;
                    text-decoration: underline; }
                #container #sectionBox1 > .intro > dl > dt > ul > li:nth-child(4) {
                  border-bottom: 0; }
          #container #sectionBox1 > .intro > dl > dd {
            border-left: 2px solid;
            box-sizing: border-box;
            overflow: hidden;
            position: relative;
            width: 50%;
            height: calc(100% / 4);
            float: left;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-position: center;
            transition: all 0.3s; }
            #container #sectionBox1 > .intro > dl > dd:nth-of-type(1) {
              background-image: url(../img/hustle_01.jpg); }
            #container #sectionBox1 > .intro > dl > dd:nth-of-type(2) {
              background-image: url(../img/cafe_02.jpg); }
            #container #sectionBox1 > .intro > dl > dd:nth-of-type(3) {
              background-image: url(../img/hustle_04.jpg); }
            #container #sectionBox1 > .intro > dl > dd:nth-of-type(4) {
              background-image: url(../img/hustle_01.jpg); }
            #container #sectionBox1 > .intro > dl > dd:hover {
              background-size: 120% 120%;
              background-position: center; }
            #container #sectionBox1 > .intro > dl > dd > a {
              width: 100%;
              height: 100%;
              display: block;
              text-align: center;
              font-size: 2rem; }
              #container #sectionBox1 > .intro > dl > dd > a > span {
                width: 100%;
                height: 40px;
                transition: all 0.3s;
                position: absolute;
                top: 50%;
                margin-top: -20px;
                color: #fff; } }

/*# sourceMappingURL=index.css.map */
