


/* ------FOOTER--------- */
#xidoFootWrap{
	width: 100%;
	height: 120px;
	background-color: #595959;
}
	#xidoFoot{
		width: 960px;
		height: 100%;
		margin: 0 auto;
		background-color: inherit;
	}





	#xidoFoot>h2{
		width: 108px;
		height: 24px;
		background-image: url(../img/all/footer/h2_logo.png);
		background-repeat: no-repeat;
		margin: 44px 0 0 30px;
		float: left;
		overflow: visible;
	}
	#xidoFoot>h2>strong{
		width: 0;
		height: 0;
		display: block;
		overflow: hidden;
	}
	#xidoFoot>h2>span{
		width: 100%;
		height: 16px;
		color: #ccc;
		font-size: 0.75rem;
		letter-spacing: -0.06rem;
		word-spacing: -0.06rem;
		margin-top: 24px;
	}

	#xidoFoot>#addBox{
		width: 425px;
		height: 76px;
		float: left;
		margin: 25px 0 0 90px;
	}
		#addBox>ul{
			width: 100%;
			height: 16px;
		}
		#addBox>ul>li{
			float: left;
			height: 100%;
			padding: 0 5px;
			border-right: 1px solid #aaa;
			/*margin-top: 2px;*/
			/* 바 내리는건가? */
		}
		#addBox>ul>li:first-child{
			padding-left: 0;
		}
		#addBox>ul>li:last-child{
			padding-right: 0;
			border-right: 0;
		}
		#addBox>ul>li>a{
			color: #fff;
			display: block;
			margin-top: 2px;
		}
		#addBox>address{
			width: 430px;
			height: 56px;
			/*display: inline-block;*/
			padding-top: 10px;
		}
		#addBox>address>p{
			color: #ccc;
			font-size: 0.825rem;
		}
		#addBox>address>p>strong{}


	#xidoFoot>#etc{
		width: 134px;
		height: 100px;
		background-color: #f71;
		float: right;
		margin: 0 70px 20px 0;
	}
		#etc>form{ width: 100px; height: 18px; float: left; }
		#etc>form>fieldset{ width: 100%; height: 100%; }
		#etc>form>fieldset>select{ 
			width: 100%;
			height: 100%;
			text-indent: 10px;
			background-image: url(../img/all/footer/f_family_00.png);
			background-repeat: no-repeat;
			text-indent: -0000rem;
			
		}
		#etc>form>fieldset>select>option{
			text-indent: 10px;
			display: block;
			background-color: #f11;}
		#etc>form>fieldset>button{
			width: 18px;
			height: 18px;
			float: left;
		}
	#etc<dl{
		width: 100%;
		height: 18px;
		margin-top: 10px;
		float: left;
	}
	#etc<dl>dt{
		width: 100%;
		height: 100%;
		background-image: url(../img/all/footer/f_family_00.png);
		background-repeat: no-repeat;
	}
	#etc<dl>dd{
		width: 100%;
		height: 500%;
		background-color: #ccc;
		margin-top: -107px;
		overflow: hidden;
		transition-delay: all 2s;
	}
	#etc<dl>dd>ul{
		width: 100%;
		height: 100%;
	}
	#etc<dl>dd>ul>li{
		width: 100%;
		height: 100%;
		text-indent: 10px;
	}
	#etc<dl>dd>ul>li>a{
		line-height: 18px;
	}
	#etc>dl:hover > dd{
		height: 98px;
	}

		
		#etc>ol{
			width: 134px;
			height: 44px;
			float: left;
			margin-top: 28px;
		}
		#etc>ol>li{
			float: left;
			width: 40px;
			height: 40px;
			background-color: #8ff;
			margin-right: 7px;
			float: left;
		}
		#etc>ol>li:last-child{
			margin-right: 0;
		}













