
/* BANNER*/
#indexBanner{
	width: 960px;
	height: 430px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 60px;
	/* 배너에 넘치는거다 ㅋㅋㅋㅋㅋㅋㅋㅋ 아 개놀램*/
	position: relative;
}
/* BANNER_btn*/
	.index_btn{
		width: 60px;
		height: 82px;
		position: absolute;
		top: 50% ;
		margin-top: -40px;
	}
	.index_btn>a{
		width: 100%;
		height: 100%;
		display: block;
		background-image: url();
		background-repeat: no-repeat;
		
	}
	.index_btn_1{
		left: 10px;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(../img/main/banner/left_btn.png);
		
	}
	.index_btn_2{
		right: 10px;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url(../img/main/banner/right_btn.png);
		
	}
/* indicator */
#indexBanner>ol{
	width: 46px;
	height: 12px;
	position: absolute;
	right: 100px;
	bottom: 20px;
	z-index: 20;
}
#indexBanner>ol>li{
	width: 12px;
	height: 12px;
	margin-right: 5px;
	float: left;
	background-color: #f06;
	cursor: pointer;
	border-radius: 50%;
}
#indexBanner>ol>li:last-child{
	margin-right: 0;
}



/* BANNER_ul*/
#indexBanner>ul{
	width: 300%;
	height: 100%;
	margin-left: -100%;
	
}
#indexBanner>ul>li{
	width: calc(100% / 3);
	height: 100%;
	float: left;
	transition: margin 2s ease-out;
}
#indexBanner>ul>li>button{
	width: 100%;
	height: 100%;
}
#indexBanner>ul>li.banner_01>button{
	background-image: url(../img/main/banner/banner_01.png);
	background-repeat: no-repeat;
	background-position: center;
}
#indexBanner>ul>li.banner_02>button{
	background-image: url(../img/main/banner/banner_01.png);
	background-repeat: no-repeat;
	background-position: center;
}
#indexBanner>ul>li.banner_03>button{
	background-image: url(../img/main/banner/banner_01.png);
	background-repeat: no-repeat;
	background-position: center;
}

	/* t est */
	.index_btn_1:hover ~ ul>li:first-child{
		margin-left: calc(100% / 3);
	}
	.index_btn_2:hover ~ ul>li:last-child{
		margin-left: calc(-100% / 3);


		/*transition:margin-left 2s ease-out 2s;*/
		transition-property: all;
		transition-duration: 2s;
		transition-timing-function: cubic-bezier(.27,1.47,.4,-0.31);
		transition-delay: 0.3s;
	}
