#container{
	margin: 0 auto;
	width: 700px;
	height: 550px;
}




header#phoneHead{
	width: 100%;
	height: 115px;
	background-color: #f06;
	float: left;
}

	#phoneHead h1{
		font: bolder 2.8125rem/2.8125rem "myriad pro";
		color: #fff;
		padding: 40px 0 0 60px;
	}


/* SECTION */

section#phoneSection{
	width: calc(100% - 70px);
	height: 450px;
	background-color: beige;
	padding-left: 70px;
	float: left;
	
}

	#phoneSection h1{
		font: 1.875rem/1.875rem "myriad pro" ;
		color: #aaa;
		margin: 25px 0 10px 10px;
	}
	p{
		font: 1.5rem/1.5rem "myriad pro" ;
		color: #aaa;
		margin: 10px 0 20px 10px;
	}
	form{
		width: 580px;
		height: 140px;
		background-color: #f1f1f1;
	}
	form>fieldset{
		width: 545px;
		height: 95px;

		padding: 30px 0 20px 10px;
		background-color: #d81;
	}


	form ul.label{
		float: left;
		width: 120px;
		height: calc(100% - 50px);
	}
	form ul.label>li{
		margin-bottom: 26px;
	}

	form ul.input{
		float: left;
		width: calc(545px - 120px);
		height: 100%;
	}
	form ul.input>li{
		margin-bottom: 26px;
	}
	form ul.input>li>label{
		margin-right: 50px;
	}
	form ul.input>li>label:last-child{
		margin-right: 0;
	}
  .input>li>select{float:left;}
  .input>li:nth-child(1)>input{float:left;}
  .input>li>span{float:left; margin:0 5px;}
	
	.input>li:nth-child(2){
		margin-top:40px;
	}
	




	


	button.ok{
		margin-top: 35px;
		margin-left: 140px;
		width: 106px;
		height: 60px;
		background-color: #f06;
		float: left;
		margin-right: 80px;
		color: #fff;
		font-size: 2rem;
	}
	button.reset{
		margin-top: 35px;
		width: 106px;
		height: 60px;
		background-color: #595959;
		float: left;
		color: #fff;
		font-size: 2rem;

	}

	


















	
