/*background.css*/

#wrap{
	width: 800px;
	height: auto;
	margin: 0 auto;
}
#header{
	width: 100%;
	height: 300px;
	background-color: #ddd;
	background-image: url("../img/background/bg1.jpg");
	background-repeat: no-repeat;
	background-position: center center;
}
#article{
	width: 100%;
	height: 500px;
	background-image: url(../img/background/bg2.png);
	/*background-repeat: repeat-y;*/
}
#footer{
	width: 100%;
	height: 500px;
}
#footer>h2{
	width: 130px;
	height: 130px;
	border: 1px solid #000;
	background-image: url(../img/icon1.jpg);
	background-repeat: no-repeat;
	background-position: center bottom;
	text-indent: -9999rem;
	/*9999*16px 해서 안보임 */
}
#footer>ul{
	width: 100%;
	height: 44px;
	margin-bottom: 20px;
	background-color: #999;
	/*background-image: */
}
#footer>ol{
	width: 100%;
	height: 44px;
	background-color: #aaf;
}
#footer li{
	width: 44px;
	height: 100%;
	float: left;
	border: 1px solid;
	text-indent:-9999rem;
}
#footer>ul>li{
	background-image: url(../img/icon2.jpg);
	background-repeat: no-repeat;
}

.icon_01 {background-position: -100px -20px ;}
.icon_02 {background-position: -420px -14px ;}
.icon_03 {background-position: -150px -100px;}
.icon_04 {background-position: -420px -100px;}
.icon_05 {background-position: -240px -60px;}

#footer>ol>li>a{
	background-image: url(../img/icon2.jpg);
	background-repeat: no-repeat;
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -9999rem;
}

.icon_11>a{background-position: -100px -20px;}
.icon_11>a:hover{background-position: -270px -20px;}
.icon_12>a{background-position: -270;}
.icon_13>a{background-position: ;}
.icon_14>a{background-position: ;}
.icon_15>a{background-position: ;}







