
*{transition: all 0.5s;}
html,body{height: 100%;}


#container{
	width: 100%;
	height: 100%;
	background-color: #d9a;
	>#page_01{
		width: 100%;
		height: 100%;
		background-image: url(../img/page1/bg2.jpg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		>#gnb{
			width: 30%;
			height: 100%;
			float: left;
			>ul{
				width: calc(100% - 50px);
				height: calc(100% - 200px);
				padding-top: 200px;
				padding-left: 50px;
				>li{
					width: 100%;
					height: 30px;
					margin-bottom: 40px;
				&:last-child{margin-bottom: 0;}
					>a{
						color:#fff;
						width: 100%;
						height: 100%;
						display: block;
						font-size:0.8rem;
						line-height: 0.8rem;
						letter-spacing: 0.125rem;
					&:hover{color:#988177;}
					}//a
				}//li
			}//ul
		}//gnb
		>#text{
			width: 50%;
			height: 60%;
			float: left;
			padding-top: 20%;
			>p{
				text-decoration: none;
				color: #1e1e1e;
				font-size: 4.5rem;}//p
		}//text
		#aboutme{
			width: 20%;
			height: 100%;
			float: right;
			>ul{
				width: calc(100% - 50px);
				height: calc(100% - 200px);
				padding-top: 200px;
				padding-left: 50px;
				>li{
					width: 100%;
					height: 30px;
					margin-bottom: 40px;
				&:last-child{margin-bottom: 0;}
					>a{
						color:#fff;
						width: 100%;
						height: 100%;
						display: block;
						font-size:0.8rem;
						line-height: 0.8rem;
						letter-spacing: 0.125rem;
					&:hover{color:#988177;}
					}//a
				}//li
			}//ul
		}//abe
	}//page_01
	>#page_02{
		width: calc(100% - 200px);
		height: calc(100% - 200px);
		padding: 100px;
		background-color: #aad;
		>ul{
			width: 100%;
			height: 100%;
			background-color: #d91;
			>li{
				margin: 5px;
				width: calc(100% / 3 - 10px);
				height: calc(100% / 3 - 10px);
				float: left;
			&:nth-child(1){
				background-image: url(../img/page2/supreme_02.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			&:hover{
				background-image: url(../img/page2/supreme_03.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;}
			}//1
			&:nth-child(2){
				background-image: url(../img/page2/supreme_03.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			&:hover{
				background-image: url(../img/page2/supreme_03.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;}
			}//2
			&:nth-child(3){
				background-image: url(../img/page2/jodan_01.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			&:hover{
				background-image: url(../img/page2/supreme_03.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;}
			}//3
			&:nth-child(4){
				background-image: url(../img/page2/y3_01.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			&:hover{
				background-image: url(../img/page2/supreme_03.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;}
			}//4
			&:nth-child(5){
				background-image: url(../img/page2/supreme_02.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			&:hover{
				background-image: url(../img/page2/supreme_03.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;}
			}//5
			&:nth-child(6){
				background-image: url(../img/page2/supreme_02.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			&:hover{
				background-image: url(../img/page2/supreme_03.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;}
			}//6
			&:nth-child(7){
				background-image: url(../img/page2/supreme_02.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			&:hover{
				background-image: url(../img/page2/supreme_03.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;}
			}//7
			&:nth-child(8){
				background-image: url(../img/page2/supreme_02.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			&:hover{
				background-image: url(../img/page2/supreme_03.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;}
			}//8
			&:nth-child(9){
				background-image: url(../img/page2/supreme_02.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;
			&:hover{
				background-image: url(../img/page2/supreme_03.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				background-position: center;} }//9
			}//li
		}//ul
	}//page_02
	>#page_03{
		width: 100%;
		height: 100%;
		background-color: #add;
		>#allbox{
			width: 100%;
			height: 100%;
			>.boxleft{
				width: 50%;
				height: 100%;
				background-color: #88a;
				float: left;
				>.effect_box{
					margin: 0 auto;
					width: 100%;
					height: 100%;
					>figure{
						float: left;
						overflow: hidden;
						width: 100%;
						height: 100%;
						text-align: center;
						cursor: pointer;
						position: relative;
						>img{
							width: 100%;
							height: calc(100% + 30px);
							transform: translate3d(0,-30px,0);
							transition: ease 1s;
						&:hover{
							opacity: 0.7;
							transform: translate3d(0,0,0); }
						}//img
						>figcaption{
							padding: 3em;
							position: absolute;
							top:20px;
							left: 100px;
							z-index: 100;
							>h2{
								padding-top: 26%;
								transition: transform 0.3s;
								transform: translate3d(0,-30px,0);
								transition: ease 1s;
							&:hover{
								opacity: 1;
								transform: translate3d(0,0,0); }} //h2
							>p{
								padding: 0.5em 2em;
								text-transform: none;
								opacity: 0;
								transform: translate3d(0,-10px,0);
								transition: ease 1s;
							&:hover{
								opacity: 1;
								transform: translate3d(0,0,0); }}//p
						}//caption
					}//figure
				}//effect_box
			}//boxleft

			>.boxright{
				width: 50%;
				height: calc(100% / 3);
				float: left;
				>.effect_box{
					margin: 0 auto;
					width: 100%;
					height: 100%;
					>figure{
						float: left;
						overflow: hidden;
						width: 100%;
						height: 100%;
						text-align: center;
						cursor: pointer;
						position: relative;
						>img{
							width: 100%;
							height: calc(100% + 30px);
							transform: translate3d(0,-30px,0);
							transition: ease 1s;
						&:hover{
							opacity: 0.7;
							transform: translate3d(0,0,0); }
						&:hover h2,
								p{
							opacity: 1;
								transform: translate3d(0,0,0); }
						}//img
						>figcaption{
							padding: 3em;
							position: absolute;
							top:20px;
							left: 100px;
							z-index: 100;
							>h2{
								padding-top: 26%;
								transition: transform 0.3s;
								transform: translate3d(0,-30px,0);
								transition: ease 1s; } //h2
							>p{
								padding: 0.5em 2em;
								opacity: 0;
								transform: translate3d(0,-10px,0);
								transition: ease 1s; }//p
						}//caption
					}//figure
				}//effect_box
			}//boxright
		}//allbox
	}//page_03






















}//container