// tablet_v
@media screen and (min-width:769px) and (max-width:1024px) {
    .inbox{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    }
    #container{

    //_____headerBox____________________
        >#headerBox{
            width: 100%;
            height: 70px;
            .inbox{
                >#sitemap{display: none;}
                >h1{width: 200px;
                    height: 40px;
                    float: left;
                    >a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: url(../img/header/h1.png) no-repeat;
                        background-size: 100%;}
                }//h1
                >#gnb{
                    width: 470px;
                    height: 30px;
                    float: right;
                    margin-top: 10px;
                    >ul{
                        width: 100%;
                        height: 100%;
                        >li{
                            float: left;
                            margin-right: 15px;
                            line-height: 30px;
                            >a{font-size: 0.9rem; color:#595959}
                        &:nth-child(1){
                            width: 60px;
                            height: 100%;
                            >a{}
                        }
                        &:nth-child(2){
                            width: 84px;
                            height: 100%;
                            >a{}
                        }
                        &:nth-child(3){
                            width: 64px;
                            height: 100%;
                            >a{}
                        }
                        &:nth-child(4){
                            width: 64px;
                            height: 100%;
                            >a{}
                        }
                        &:nth-child(5){
                            width: 130px;
                            height: 30px;
                            margin-right: 0;
                            >a{}
                        }//li4
                      }//li
                    }//ul
                }//gnb
          }//inbox
        }//#header

    //_____FOOTER____________________
        >#footerBox{
            width: 100%;
            height: auto;
            position: relative;
            >button{
                position: absolute;
                top: 10px; right: 10px;
                z-index: 100;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #fff;
                background-image: url(../img/btn/m_t.png);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
                box-shadow: 3px 3px 3px #555;
            }//btn
            >.inbox{
                >#help{
                    width: 100%;
                    height: 120px;
                    >ul{
                        width: 100%;
                        height: 100%;
                        >li{
                            float: left;
                            padding:10px;
                            height: calc(100% - 20px); //높이는 밑에서 하나씪 뻄~
                            background-image: url(../img/bg/box.jpg);
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                            >h1{
                                width: 100%;
                                height: 35%;
                                text-align: center;
                                font-size: 1.2rem; }//h1
                        &:nth-child(1){
                          width: calc(30% - 20px);
                            >ul{
                                margin: 0 auto;
                                width: 200px;
                                height: 65%;
                                >li{width: 60px; height: 60px; float: left; margin-right: 10px;
                                &:nth-child(1){
                                    >a{
                                        display: block;
                                        width: 100%; height: 100%;
                                        background-image: url(../img/logo/logo.png);
                                        background-repeat: no-repeat;
                                        background-position: 0 0;
                                    }
                                }//li1
                                &:nth-child(2){
                                    >a{
                                        display: block;
                                        width: 100%; height: 100%;
                                        background-image: url(../img/logo/logo.png);
                                        background-position: 0 0;
                                        background-repeat: no-repeat;
                                        background-position: -60px 0;
                                    }
                                }//li2
                                &:nth-child(3){
                                    margin-right: 0;
                                    >a{
                                        display: block;
                                        width: 100%; height: 100%;
                                        background-image: url(../img/logo/logo.png);
                                        background-position: 0 0;
                                        background-repeat: no-repeat;
                                        background-position: -120px 0;
                                    }
                                }//li3
                                }//li
                            }//ul
                        }
                        &:nth-child(2){
                          width: calc(40% - 40px);
                          margin: 0 10px;
                            >p{
                                width: 100%;
                                height: 35%;
                                font-size: 0.8rem;
                                text-align: center;
                            }
                            >form{
                                width: 100%;
                                height: 30%;
                                >fieldset{
                                    width: 100%; height: 100%;
                                    >input{
                                        text-indent:10px; 
                                        width: 75%; 
                                        height: 100%;
                                    }//input
                                    >button{
                                        width: 20%; 
                                        height: 100%; 
                                        font-size: 0.8rem;
                                    }//btn
                                }//fieldset
                            }//form
                            }
                        &:nth-child(3){
                          width: calc(30% - 20px);
                          margin-right: 0;
                            >p{text-align: center;
                                >a{color:#00a;}
                            }//p
                        }//li3
                        }//li
                    }//ul
                }
                >#text{
                    width: 100%;
                    height: 80px;
                    margin-top: 20px;
                    >ul{
                        background-image: url(../img/bg/textbox.jpg);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        padding: 10px 20px;
                        width: calc(100% - 40px);
                        height: calc(100% - 20px); //70 - 20 = 50
                        >li{
                            padding: 5px 0;
                            height: 20px; //30 - 10
                            float: left;
                            >a{
                                display: block;
                                color: #222;
                                font-size: 0.9rem;
                                line-height: 20px;
                                text-align: center;}//a
                        &:nth-child(1){width: 20%;}
                        &:nth-child(2){width: 25%;}
                        &:nth-child(3){width: 20%;}
                        &:nth-child(4){width: 20%;}
                        &:nth-child(5){width: 15%;}
                        &:nth-child(6){width: 25%;}
                        &:nth-child(7){width: 25%;}
                        &:nth-child(8){width: 25%;}
                        &:nth-child(9){width: 25%;}
                        }//li
                    }//ul
                }//#text
                >#company{
                    margin: 0 auto;
                    width: 100%;
                    padding: 2rem 0;
                    height: auto;
                    >p{ display: block; color:#000; width: 100%; height: auto;}
                    >p:nth-child(1){
                        font-size: 0.9rem;
                        line-height: 0.8rem;
                        margin-bottom: 10px;
                    }
                    >p:nth-child(2){ white-space: pre;font-size: 0.8rem; line-height: 0.8rem;}
                }//company
            }//inbox
        }//#footer
    }//#container
} //all


