//normalize에 letter-spacing : -0.3px있음


.inner_box960{
	width: 960px; height: 100%;
	margin: 0 auto;
}
.inner_box1100{
	width: 1100px; height: 100%;
	margin: 0 auto;
}


/*_____mobile_v 모바일 세로____________________*/
@media screen and (max-width:480px) {
    body{background-color: #9a1;}
}
/*_____mobile_h 모바일 가로____________________*/
@media screen and (min-width:481px) and (max-width:640px) {
    body{background-color: #acc;}
}
/*_____tablet_v 타블렛 세로____________________*/
@media screen and (min-width:641px) and (max-width:768px) {
    body{background-color: #cda;}
}
/*_____tablet_h 타블렛 가로____________________*/
@media screen and (min-width:769px) and (max-width:1024px) {
    body{background-color: #000;}
}
/*_____pc 피씨_______________________________*/
@media screen and (min-width:1025px) {
#container{
	width: 100%; height: auto;
	position: relative;
	overflow: hidden;
	>#headerBox{
		width: 100%; height: auto;
		background-color: #f6f5ef;
		position: fixed; z-index: 10000;
		border-top: 2px solid  #000;
		>.click_slide{
			// position: fixed;
			// z-index: 1009;
			width: 100%;
			height: 120px;
			background-color: #111;
			display: none;
			>.inner_box1100{
				background-color:inherit;
				>.joinus{
					width: calc(50% - 1px);
					height: 100%;
					float: left;
					position: relative;
					>i{
						margin: 25px 0 0 28px;
						width: 43px; height: 63px;
						display: block; float: left;
						background-size: 100% 100%; 
						background-image: url(../img/topslide/joinus_img.png);
						background-repeat: no-repeat;
					}//i
					>p{
						margin: 18px 0 0 20px;
						font-size: 14px;
						line-height: 20px;
						float: left;
						color: #fff;
						>strong{
							font-size: 16px;
							color: #fff;
							margin: 10px 0;
							display: inline-block;
						}//strong
					}//p
					>div{
						position: absolute;
						top: 80px; right: 60px;
						width: 150px;
						height: 26px;
						>a{
							width: 70px; height: 24px; display: block;
							border: 1px solid #fff;
							border-radius: 3px;
							color: #fff;
							float: left;
							text-align: center;
							line-height: 24px;
							font-size: 12px;
							font-weight: bold;
							margin-right: 5px;
						&:last-child{margin-right: 0;}
						}//a
					}//로그인회원가입div
				}//joinus
				>.bar{
					width: 1px; height: 70px;
					float: left; display: block;
					margin-top: 25px;
					background-color: #292929;
				}//bar
				>.card{
					width: 50%;
					height: 100%;
					float: right;
					position: relative;	
					>i{
						margin: 35px 0 0 28px;
						width: 90px; height: 55px;
						display: block; float: left;
						background-size: 100% 100%; 
						background-image: url(../img/topslide/card_img.png);
						background-repeat: no-repeat;
					}//i
					>p{
						margin: 18px 0 0 20px;
						font-size: 14px;
						line-height: 20px;
						float: left;
						color: #fff;
						>strong{
							font-size: 16px;
							color: #fff;
							margin: 10px 0;
							display: inline-block;
						}//strong
					}//p
					>div{
						position: absolute;
						top: 80px; right: 17px;
						width: 72px;
						height: 26px;
						>a{
							width: 70px; height: 24px; display: block;
							border: 1px solid #fff;
							border-radius: 3px;
							color: #fff;
							float: left;
							text-align: center;
							line-height: 24px;
							font-size: 12px;
							font-weight: bold;
						}//a
					}//로그인회원가입div
				}//card
			}//inner_box1100
		}//click_slide
		>.inner_box1100{
			position: relative;
			>h1{
				width: 80px; height: 80px;
				position: absolute;
				top: 20px; left: 20px;
				>a{
					width: 100%; height: 100%; display: block;
					background-image: url(../img/header/logo.png);
					background-repeat: no-repeat;
					background-size: 100% 100%;
				}
			}//h1
			>#siteMap{
				width: auto; height: 50px;
				margin-bottom: 10px;
				float: right;
				>ul{
					width: 100%; height: 100%;
					>li{
						margin-top: 15px;
						float: left;
						>a{
							font-size: 13px;
							width: 100%; height: 100%;
							display: block;
							text-align: center;
							background-repeat: no-repeat;
							background-size: 100% 100%;
						&:hover{color: #630;}
						}//a
					// li 1 ~ 6
					&:nth-of-type(1){
						width: 80px; height: 20px;
					}
					&:nth-of-type(2){
						width: 110px; height: 20px;
					}
					&:nth-of-type(3){
						width: 180px; height: 20px;
					}
					&:nth-of-type(4){
						width: 100px; height: 20px;
					}
					&:nth-of-type(5){
						display: none;
						width: 100px; height: 20px;
						>form{
							width: 100%; height: 100%;
							>fieldset{
								width: 100%; height: 100%;
								>input{
									width: 100%; height: 100%;
									border: 1px solid;
									border-radius: 3px;
								}//input
							}//fieldset
						}//form
					}
					&:nth-of-type(6){
						margin: 10px 15px 0 15px;
						width: 30px; height: 30px;
						>a{
							background-image: url(../img/header/search.png);
						}
					}
					&:nth-of-type(7){
						margin-top: -2px;
						width: 50px; height: 50px;
						background-image: url(../img/header/hide_btn.png);
						background-repeat: no-repeat;
						background-size: 100% 100%;
					} //li6
					}//li_all
				}//ul
			}//sitemap
			>#gnb{
				width: 760px; height: 60px;
				float: right;
				>ul{
					width: 100%; height: 100%;
					>li{
						float: left;
						>a{
							font-size: 14px;
							// font-weight: lighter;
							line-height: 30px;
							width: 100%; height: 100%; display: block;
							text-align: center;
						&:hover{ background-color: #2C2A29; color: #690; }
						}//a

						/*하이드메뉴전체*/
						>div{
							display: none;
							width: 100vw; height: auto;
							background-color: #2C2A29;
							position: absolute;
							right: 50%; margin-right: -50vw;
							/*메뉴dl부분*/
							>div:nth-of-type(1){
								padding: 20px 10px;
								width: calc(100% - 20px);
								>.inner_box1100{
									>dl{
										>dt{
											width: 100%; height: 22px;
											padding: 10px 0;
											>a{
												width: 100%; height: 100%;
												display: block; color: #fff;
												font-weight: bold;
											}//a
										}//dt
										>dd{
											width: 100%; height: 14px;
											padding: 3px 0;
											>a{
												width: 100%; height: 100%;
												display: block; color: #999;
												font-size: 13px;
											}//a
										}//dd
									}//dl
								}//1100
							}//sub
							/*txt부분*/
							>div:nth-of-type(2){
								width: 100%;
								height: 100px; //원래 140 패딩 40
								padding: 20px 0;
								background-image: url(../img/header/gnb_txbg.jpg);
								>.inner_box1100{
									>.txt_l{
										float: left;
										width: 720px; height: 100%;
										>h2{
											width: 200px; height: 19px;
											font-size: 14px;
											margin-bottom: 2px;
											>a{
												width: 100%; height: 100%;
												display: block;
												color: #999;
											}//a
										}//h2
										>p{
											font-size: 13px;
											color: #64a70b;
											margin-bottom: 10px;
										}//p
									}//coffee_sub_l
									>.txt_r{
										float: left;
										width: 380px; height: 100%;
										>img{
											float: left;
											padding: 5px; margin-right: 12px;
											width: 158px; height: 90px;
											cursor: pointer;
										}//img
										>h2{
											float: left;
											width: 200px; height: 100%;
											font-size: 14px;
											margin: 10px 0;
											>a{
												width: 100%; height: 100%;
												display: block;
												color: #999;
												>span{
													width: 100%; height: 50%;
													font-size: 13px;
													margin-top: 10px;
													color: #64a70b;
												}//p
											}//a
										}//h2
									}//coffee_sub_r
								}//1100
							}//txt
						}
					/* COFFEE MENU */
					&.gnb_1{
						width: 90px; height: 100%;
						>.gnb_h_1{
							// height: 550px;
							>#coffee_sub{
								height: 370px; //born : 410px
								>.inner_box1100{
									>dl{
										width: 25%; height: 50%; float: left;
										>dt{/* 위에 전체세팅 */}
										>dd{/* 위에 전체세팅 */}
									}//dl
								}//1100
							}//coffee_sub
							>#coffee_sub_txt{
								// 위에 넓이,높이,배경 세팅
								>.inner_box1100{
									>.txt_l{/* 위에 전체세팅 */}
									>.txt_r{/* 위에 전체세팅 */}
								}//1100
							}//sub_txt
						}//gnb_h_1
					}//gnb_1
					/* COFFEE MENU 끝 */

					/* MENU MENU */
					&.gnb_2{
						width: 75px; height: 100%;
						>.gnb_h_2{
							// height: 406px;
							>#menu_sub{
								height: 290px; //born : 330px
								>.inner_box1100{
									>dl{
										width: 20%; height: 100%; float: left;
										>dt{/* 위에 전체세팅 */}
										>dd{/* 위에 전체세팅 */}
									}//dl
								}//1100
							}//menu_sub
							>#menu_sub_txt{
								// 위에 넓이,높이,배경 세팅
								>.inner_box1100{
									>.txt_l{/* 위에 전체세팅 */}
									>.txt_r{/* 위에 전체세팅 */}
								}//1100
							}//menu_sub_txt
						}//gnb_h_2
					}//gnb_2
					/* MENU MENU 끝 */

					/* STORE MENU */
					&.gnb_3{
						width: 80px; height: 100%;
						>.gnb_h_3{
							>#store_sub{
								height: 240px; //born : 200px
								>.inner_box1100{
									>dl{
										width: 20%; height: 50%; float: left;
									&:nth-of-type(6){ height: 40%; }//6번째 dl 크기 줄이기
									}//dl
								}//1100
							}//store_sub
							>#store_sub_txt{
								// 위에 넓이,높이,배경 세팅
								>.inner_box1100{
									>.txt_l{/* 위에 전체세팅 */}
									>.txt_r{/* 위에 전체세팅 */}
								}//1100
							}//store_sub_txt
						}//gnb_h_3
					}//gnb_3
					/* STORE MENU 끝 */

					/* RESPONSIBILITY MENU */
					&.gnb_4{
						width: 155px; height: 100%;
						>.gnb_h_4{
							>#responsibility_sub{
								height: 200px; //born : 200px
								>.inner_box1100{
									>dl{
										width: 20%; height: 100%; float: left;
									}//dl
								}//1100
							}//responsibility_sub
							>#responsibility_sub_txt{
								// 얘만 좀 작음
								height: 40px;
								>.inner_box1100{
									>.txt_l{/* 위에 전체세팅 */}
									>.txt_r{/* 위에 전체세팅 */}
								}//1100
							}//responsibility_sub_txt
						}//gnb_h_4
					}//gnb_4
					/* RESPONSIBILITY MENU 끝 */

					/* MY MEMBERSHIP REWARDS MENU */
					&.gnb_5{
						width: 225px; height: 100%;
						>.gnb_h_5{
							// height: 295px;
							>#membership_sub{
								height: 200px;
								>.inner_box1100{
									>dl{width: 20%; height: 100%; float: left;}//dl
								}//1100
							}//membership_sub
							>#membership_sub_txt{
								// 위에 넓이,높이,배경 세팅
								>.inner_box1100{
									>.txt_l{/* 위에 전체세팅 */}
									>.txt_r{/* 위에 전체세팅 */}
								}//1100
							}//membership_sub_txt
						}//gnb_h_5
					}//gnb_5
					/* MY MEMBERSHIP REWARDS MENU 끝 */

					/* WHAT'S NEW MENU */
					&.gnb_6{
						width: 130px; height: 100%;
						>.gnb_h_6{
							// height: 379px;
							>#new_sub{
								height: 240px;
								>.inner_box1100{
									>dl{
										width: 20%; height: 80%; float: left;
									&:nth-of-type(6){ height: 20%; }//6번째 dl 크기 줄이기
									}//dl
								}//1100
							}//new_sub
							>#new_sub_txt{
								// 위에 넓이,높이,배경 세팅
								>.inner_box1100{
									>.txt_l{/* 위에 전체세팅 */}
									>.txt_r{/* 위에 전체세팅 */}
								}//1100
							}//new_sub_txt
						}//gnb_h_6
					}//gnb_6
					/* WHAT'S NEW MENU 끝 */

					}//li_all
				}//ul
			}//gnb
		}//inner_Box
	}//header
// _________헤드 & 푸터 제외 부분 시작_________________________________
	>#login_title{
		margin-top: 120px;
		width: 100%; height: 178px;
		background-image: url(../img/signin/login_title.jpg);
		background-repeat: no-repeat;
		>.inner_box1100{
			position: relative;
			>h2{
				position: absolute;
				top: 110px; left: 0;
				display: block;
				width: 100%; height: 50px;
				background-image: url(../img/signin/login_txt.png);
				background-repeat: no-repeat;
			}//h2
			>ul{
				position: absolute;
				bottom: 25px; right: 0;
				width: 80px; height: 16px;
				>li{
					float: left;
				&:nth-of-type(1){
					width: 16px; height: 16px;
					>a{
						display: block; width: 100%; height: 100%;
						background-image: url(../img/signin/home_btn.png);
						background-repeat: no-repeat;
					}
				}//li_1
				&:nth-of-type(2){
					margin: 2px 5px;
					width: 6px; height: 12px;
					background-image: url(../img/signin/arrow_btn.png);
					background-repeat: no-repeat;
				}//li_2
				&:nth-of-type(3){
					width: 45px; height: 16px;
					>a{
						color: #fff;
						font-size: 14px;
					}//a
				}//li_3
				}//li_all
			}//ul
		}//inner_box1100
	}//login_title
	>#login_bigbox{
		padding: 50px 0 80px 0;
		width: 100%; height: 470px;
		background-color: #fff;
		>.inner_box1100{
			>.login{
				width: 100%; height: 277px;
				padding: 75px 0 30px 0;
				margin-bottom: 30px;
				background-color: #f4f4f2;
				>.desktop{
					float: left;
					margin: 0 141px;
					width: 268px; height: 200px;
					background-image: url(../img/signin/desktop.png);
				}//desktop이미지
				>.text_area{
					float: left;
					width: 550px; height: 100%;
					>p:nth-of-type(1){
						color: #222;
					    font-size: 19px;
					    // line-height: 1.6;
					    font-weight: bold;
					    >strong{
					    	color: #006633;
						    font-size: 19px;
						    font-weight: bold;
						    margin-right: 3px;
					    }//strong
					}//p_1
					>p:nth-of-type(2){
					    color: #444;
					    font-size: 14px;
					    margin-top: 8px;
					}//p_2
					>ul{
						margin-top: 30px;
						float: left;
					&:nth-of-type(1){
						width: 70px; height: 60px;
						>li{
							width: 100%; height: calc(100% / 2);
							margin-bottom: 2px;
							>label{
								width: 100%; height: 26px;
								padding: 2px 0;
								font-size: 16px;
								line-height: 28px;
							}//label
						}//li_all
					}//ul_1
					&:nth-of-type(2){
						width: 280px; height: 56px;
						padding: 2px 0 ;
						>li{
							width: 100%; height: calc(100% / 2);
							margin-bottom: 2px;
							>input{
								width: 100%; height: 100%;
								text-indent: 1px;
								border-radius: 2px;
								line-height: 28px;
							}//label
						}//li_all
					}//ul_2
					}//ul_all
					>button{
						margin: 30px 0 0 10px;
						width: 83px; height: 61px; float: left;
						>a{
							background: #006633;
						    border-radius: 3px;
						    color: #fff;
						    display: block;
						    width: 100%; height: 100%;
						    line-height: 61px;
						}//a
					}//btn
					>.save_id{
						float: left;
						width: calc(100% - 5px); height: 14px;
						margin-top: 20px;
						padding-left:5px;
						>input{
							width: 12px; height: 12px;
						}//input
						>label{
							font-size: 12px;
						}//label
					}//save_id
					>p:nth-of-type(3){
						float: left;
						width: 100%; height: 38px;
						margin-top: 10px;
						color: #b7312c;
					    font-size: 12px;
					    line-height: 1.4;
					}//p_3
					>p:nth-of-type(4){
						float: left;
						width: 100%; height: 38px;
						margin-top: 10px;
						color: #b7312c;
					    font-size: 12px;
					    line-height: 1.4;
					}//p_4
				}//text_area
			}//login
			>ul{
				width: 100%; height: 66px;
				>li{
					position: relative;
					float: left;
					width: calc(100% / 2); height: 100%;
					>p{
						color: #666;
					    font-size: 12px;
					    line-height: 1.6;
					    margin-top: 10px;
					    >strong{
					    	color: #444;
 					 	    font-size: 14px;
					    }//strong
					}//p
					>button{
						position: absolute;
						bottom: 10px; right: 30px;
						height: 24px;
						border-radius: 3px;
						border: 1px solid #ddd;
						background-color: #fff;
					&:nth-of-type(1){width: 66px;}
					&.btn_2{width: 134px;}
						>a{
							width: 100%; height: 100%; display: block;
							color: #444;
							font-size: 12px;
							line-height: 24px;
						}
					}//btn
				}//li_all
			}//회원가입텍스트ul
		}//inner_box1100
	}//login_bigbox
	

// _________헤드 & 푸터 제외 부분 끝!__________________________________

	>#footerBox{
		width: 100%; height: 678px;
		padding: 32px 0 35px 0;
		background-color: #2C2A29;
		position: relative;
		>.foot_menu{
			position: absolute;
			top: 32px; left: 50%; margin-left: -300px;
			width: 600px;
			height: 374px;
			>ul{
				width: 195px;
				float: left;
			&:nth-of-type(1){
				height: 184px;
			}//ul_
			&:nth-of-type(2){
				height: 184px;
			}//ul_
			&:nth-of-type(3){
				height: 184px;
			}//ul_
			&:nth-of-type(4){
				height: 160px; margin-top: 30px;
			}//ul_
			&:nth-of-type(5){
				height: 160px; margin-top: 30px;
			}//ul_5
				>li{
					width: 100%;
					height: 24px;
				&.first_li{
					width: 100%;
					height: 40px;
					>a{
						font-size: 15px;
						line-height: 40px;
						color: #fff;
					}//first_li > a
				}//first_li
					>a{
						font-size: 12px;
						line-height: 24px;
						color: #fff;
					}//li > a
				}//li_all
			}//ul_all
		}//foot_menu

		//배너들어갈자리
		>.inner_box1100{
			position: absolute;
			top: 450px; left: 50%; margin-left: -550px;
			height: 80px;
			background-color: #d91;
			>.ban{
				background-color: #a0a;
				width: 100%; height: 100%;
			}//ban
		}//inner_box1100

		//회사소개
		>.company{
			position: absolute;
			top: 550px; left: 50%; margin-left: -50%;
			width: 100%; height: 150px;
			//개인정보취급방침 메뉴
			>ul:nth-of-type(1){
				margin: 0 auto;
				width: 630px;
				height: 14px;
				>li{
					float: left;
					height: 100%;
					border-right: 1px solid #393939;
				&:nth-of-type(1){
					width: 107px;
					>a{
						color: #00b050;
					}
				}
				&:nth-of-type(2){
					width: 177px;
				}
				&:nth-of-type(3){
					width: 110px;
				}
				&:nth-of-type(4){
					width: 134px;
				}
				&:nth-of-type(5){
					width: 98px;
					border-right: 0; }
					>a{
						display: block;
						width: 100%; height: 100%;
						font-size: 12px;
						text-align: center;
						color: #ccc;
					}
				}//li_all
			}
			//찾아오시는길 메뉴
			>ul:nth-of-type(2){
				width: 360px;
				height: 44px;
				margin: 0 auto;
				>li{
					padding: 0 10px;
					margin: 10px 2px 0 3px;
					width: 90px; height: 30px; float: left;
					border: 2px solid #fff;
					border-radius: 3px;
					>a{
						display: block;
						width: 100%; height: 100%;
						font-size:12px;
						font-weight: bold;
						text-align: center;
						line-height: 30px;
						color: #fff;
						letter-spacing: 0.5px;
						text-align: center;
					}//a
				}//li_all
			}
			//텍스트
			>ul:nth-of-type(3){
				width: 780px;
				height: 18px;
				margin: 0 auto;
				padding: 20px 0 5px 0;
				>li{
					float: left;
					height: 15px;
					font-size: 12px;
					margin-right: 10px;
					text-align: center;
					color: #999;
				&:nth-of-type(1){
					width: 162px;
				}
				&:nth-of-type(2){
					width: 210px;
				}
				&:nth-of-type(3){
					width: 242px;
				}
				&:nth-of-type(4){
					width: 130px;
					margin-right: 0;
				}
				}//li_all
			}//ul
			>p{
				width: 310px; height: 40px;
				line-height: 40px; text-align: center;
				font-size: 12px; margin: 0 auto;
				color: #999;
			}//p
		}//company
	}//footerBox
}//container


}



























