@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300italic);
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import "./lib/_scss_basic";



*{margin: 0; padding: 0; border: 0; font-family:sans-serif; }
*:focus{outline: 2px solid #fa0;}

html,body{height: 100%;}

#wrap{
	width: 100%;
	height: auto;
	margin: 0 auto;
	background-color: darken($mainColor, 30%);

    >#header{ width: 100%; height: 100px; }
    >#article{ width: 100%; height: 520px; background-color: $mainColor;}
    >#aside{ width: 100%; height: 500px; background-color: $sub1Color;}
    >#content{ width: 100%; height: 520px; background-color: $sub2Color;}
    >#footer{ width: 100%; height: 80px; background-color: $black;}
    
} // #wrap



	#header{
		>h1{width: 100px;
			height: 30px;
			float: left;
			background-color: $white;
			text-align: center;
			line-height: 30px; 
		 >a{color:$black;
			font-size:1.2rem;
			font-family: 'Fira Sans', sans-serif; }
		} // h1
		>ul{width: 600px;
			height: 30px;
			float: right;
			background-color: $white;
			>li{width: calc( (100% - 4px) / 5 ) ;
				height: 100%;
				border-right: $line;
				float: left;
				text-align: center;
				line-height: 30px;
				list-style: none;
				&:last-child{border-right:0;}
				
				>a{color: $sub2Color;
					font-family: 'Jeju Hallasan', cursive;
					text-decoration: none;
					transition: all 0.5s ease;
				&:hover{text-decoration:underline;
						font-weight: bold;
						font-size: 1.1rem;
						color: $mainColor; }
					} //a
				} //li
			} //ul
	} // #header

	#article{
		form{@include formBox($w:90%, $h:150px, $bg1:#cff, $bg2:ccc);
			>fieldset input{margin-left: 0;}
			}//form
	}

	#aside{
		form{@include formBox($w:55%, $h:20px, $bg1:#c3f, $bg2:cfc);}
	}













	
