
// mobile_v
@media screen and (max-width:480px) {
	#container{
		width: 100%;
		height: 100%;
        position: relative;
        min-height: 400px;
        min-width: 370px;
    //______HEADER_________________________________
        >#headerBox{
                width: calc(100% - 20px);
                height: 50px;
                padding: 20px 10px 0 10px;
                position: fixed;
                top: 0;
                left: 0;
                z-index: 500;
                >h1{
                    width: 200px;
                    height: 30px;
                    float: left;
                    >a{
                        width: 100%;
                        height: 100%;
                        display: block;
                        background-image: url("../img/header/h1.png");
                        background-repeat: no-repeat;
                        background-position: center center;}
                } //h1
                >#gnb{
                    width: calc(100% - 200px);
                    height: 20px;
                    padding-top: 10px;
                    float: right;
                    >ul{
                        float: right;
                        width: 125px;
                        margin-right: 10px;
                        height: auto;
                        >li{
                            float: left;
                            height: 20px;
                            margin-right: 10px;
                        &:nth-child(1){display: none;}
                        &:nth-child(2){width: 45px;}
                        &:nth-child(3){width: 70px; margin-right: 0; background-color: #919;}
                        &:nth-child(4){display: none;}
                        &:nth-child(5){display: none;}
                        &:nth-child(6){display: none;}
                            >a{
                                font-size: 0.7rem;
                                color: #003f85;
                                text-align: center;
                            &:hover{text-decoration: underline;}
                            }//a
                        }//li
                    }//ul
                } //gnb
        } //header
    //______BANNER_________________________________
		>#mainBanner{
			width: 100%;
			height: 100%;
            background-image: url("../img/pp/sulli/02.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: -150px 0;
            position: relative;

            >.shop{
                width: 200px;
                height: 150px;
                position: absolute;
                left: 50%;
                top: 50%;
                margin-top: -80px;
                margin-left: -100px;
                >a{
                    text-align: center;
                    display: block;
                    font : bold 4.5rem/4rem "arial";
                    color: #fff;
                &:hover{color:rgba(#003f85,0.8);}
                } //shop a
            } //shop

            >.btn{
                width: 100px;
                height: 30px;
                position: absolute;
                left: 50%;
                bottom: 0;
                margin-bottom: 20px;
                margin-left: -45px;
                >a{
                    width: 100%;
                    height: 100%;
                    display: block;
                    background-image: url("../img/btn/bottom_03.png");
                    background-repeat: no-repeat;
                    background-size: 100% 100%;
                &:hover{background-image: url("../img/btn/bottom.png");
                        background-repeat: no-repeat;
                        background-size: 100% 100%;}
                } //a
            }//btn
		} //#mainBanner
    //______SECTION BOX 1__________________________
		>#sectionBox1{
            border-bottom: 1px solid  #000;
            width: 100%;
            height: calc(100% - 70px);
            padding-top: 70px;
            >#newArrivals{
                width: 90%;
                height: 90%;
                margin: 5%;
                >.shop{display: none;}
                >.minibox{
                    width: 100%;
                    height: 100%;
                    float: left;
                    background: url(../img/pp/sulli/01.jpg) no-repeat;
                    background-size: 100% 100%;
                    position: relative;
                    >a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        >span{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin-left: -75px;
                            margin-top: -15px;
                            display: block;
                            width: 150px;
                            height: 30px;
                            font-size: 2rem;
                            text-align: center;
                            color: #fff;}
                    } //a
                &:hover a{background-color: rgba(#000, 0.6); }
                } //.minibox
                >.bigbox{display: none;}
            } //#newArrivals
        } //sectionBox1
    //______SECTION BOX 2__________________________
        >#sectionBox2{
            border-bottom: 1px solid  #000;
            width: 100%;
            height: calc(100% - 70px);
            padding-top: 70px;
            >#collection{
                width: 90%;
                height: 90%;
                margin: 5%;
                >.shop{display: none;}
                >.minibox{
                    width: 100%;
                    height: 100%;
                    float: left;
                    background: url(../img/pp/sulli/03.jpg) no-repeat;
                    background-size: 100% 100%;
                    >a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        >span{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin-left: -75px;
                            margin-top: -15px;
                            display: block;
                            width: 150px;
                            height: 30px;
                            font-size: 2rem;
                            text-align: center;
                            color: #fff;}
                    } //a
                &:hover a{background-color: rgba(#000, 0.6); }
                } //.minibox
                >.bigbox{display: none;}
            } //#collection
        } //sectionBox2
    //______SECTION BOX 3__________________________
        >#sectionBox3{
            border-bottom: 1px solid  #000;
            width: 100%;
            height: calc(100% - 70px);
            padding-top: 70px;
            >#press{
                width: 90%;
                height: 90%;
                margin: 5%;
                >.shop{display: none;}
                >.minibox{
                    width: 100%;
                    height: 100%;
                    float: left;
                    background: url(../img/pp/sulli/05.jpg) no-repeat;
                    background-size: 100% 100%;
                    >a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        position: relative;
                        >span{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            margin-left: -75px;
                            margin-top: -15px;
                            display: block;
                            width: 150px;
                            height: 30px;
                            font-size: 2rem;
                            text-align: center;
                            color: #fff;}
                    } //a
                &:hover a{background-color: rgba(#000, 0.6); }
                } //.minibox
                >.bigbox{display: none;}
            } //#collection
        } //sectionBox3
    //______FOOTER__________________________
        #footerBox{
            width: 100%;
            padding-top: 10px;
            height: 40px;
            >h1{display: none;}
            >.up{
                width: 200px;
                height: 30px;
                background-color: rgba(#003f85,0.8);
                border: 1px solid #fff;
                box-sizing:border-box;
                border-radius: 3px;
                margin: 0 auto;
                >a{
                    width: 100%;
                    height: 100%;
                    display: block;
                    color: #fff;
                    font-size: 1rem;
                    text-align: center;
                    line-height: 30px;
                &:hover{background-color: #fff; color: #003f85;}
                }//a
            }//.up
        }//footerBox
	}// #container
} //all