* {transition: all 0.5s ease;}


#container{
	width: 100%;
	height: 100%;
   	>#headerBox{
   		background-color: #fe1;
   	}
   	>#banner{
   		background-color: #030;
   	}
   	>#sectionBox1{
   		background-color: #310;
   	}
   	>#sectionBox2{
   		background-color: #acc;
   	}
   	>#sectionBox3{
   		background-color: #d31;
   	}
   	>#sectionBox4{
   		background-color: #a47;
   	}
   	>#sectionBox5{
   		background-color: #8f8;
   	}
   	>#footerBox{
   		background-color: #000;
   	}
}//#container