
// mobile_v
@media screen and (max-width:480px) {

.inbox{
    width: inherit;
    height: inherit;
}
	#container{
    //_____headerBox____________________
        >#headerBox{
            width: calc(100% - 20px);
            height: 40px;
            padding: 10px;
            .inbox{
                >#sitemap{display: none;}
                >h1{width: 200px;
                    height: 30px;
                    float: left;
                    >a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: url(../img/header/h1.png) no-repeat center;}
                }//h1
                >#gnb{
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    background-color: #fff;
                    float: right;
                    >ul{display: none;}
                }//#gnb
          }//inbox
        }//#header

    //_____BANNER____________________
        >#banner{
            width: 100%;
            height: 300px;
            overflow: hidden;
            position: relative;
            >ol{
                width: 50px;
                height: 10px;
                position: absolute;
                bottom: 40px;
                left: 50%;
                margin-left: -25px;
                >li{
                    cursor: pointer;
                    float: left;
                    width: 10px;
                    height: 10px;
                    margin-right: 10px;
                    background-color: #fff;
                    border-radius: 50%;
                &:last-child{margin-right: 0;}
                &:hover{background-color: #f06;}
                }//ol>li
            }//ol
            >ul{
                width: 300%;
                height: 100%;
                margin-left: -100%;
                >li{
                    width: calc(100% / 3);
                    height: 100%;
                    float: left;
                    >button{
                    width: 100%;
                    height: 100%; }
                &:nth-child(1)>button{
                    background: url(../img/bg/bg_01.jpg) no-repeat;
                    background-size: 100%;}
                &:nth-child(2)>button{
                    background: url(../img/bg/bg_03.jpg) no-repeat;
                    background-size: 100%; }
                &:nth-child(3)>button{
                    background: url(../img/bg/bg_03.jpg) no-repeat;
                    background-size: 100%; }
                }//li
            }//ul
        }//#banner

    //_____sectionBox1____________________
        >#sectionBox1{
            width: 100%;
            height: 150px;
            >.inbox{
                >#box_01{
                    width: calc(100% / 3);
                    height: 100%;
                    float: left;
                    background-color: #d9d;
                }
                >#box_02{
                    width: calc(100% / 3);
                    height: 100%;
                    float: left;
                    background-color: #19d;
                }
                >#box_03{
                    width: calc(100% / 3);
                    height: 100%;
                    float: left;
                    background-color: #d00;
                }
            }
        }//#section1

    //_____sectionBox2____________________
        >#sectionBox2{display: none;}//#section2

    //_____sectionBox3____________________
        >#sectionBox3{
            width: 100%;
            height: auto;
            >.inbox{
                >h1{
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                }
                >#box_04{
                    width: 100%;
                    height: 150px;
                    background-color: #f9f;
                }
                >#box_05{
                    width: 100%;
                    height: 150px;
                    background-color: #a9f;
                }
                >#box_06{
                    width: 100%;
                    height: 150px;
                    background-color: #f9a;
                }
            }
        }//#section3

    //_____sectionBox4____________________
        >#sectionBox4{display: none;}//#section4

    //_____sectionBox5____________________
        >#sectionBox5{
            width: 100%;
            height: auto;
            >.inbox{
                width: calc(100% - 40px);
                height: 260px;
                padding: 20px;
                background-color: #d91;
                >h1{
                    background-color: #ddd;
                    width: 100%;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                }//h1
                >ul{
                    width: 100%;
                    height: calc(100% - 50px);
                    background-color: #ada;
                    >li{
                        float: left;
                        width: calc(100% / 3);
                        height: 50%;
                        border: 1px solid;
                        box-sizing:border-box;
                    &:nth-child(1){}
                    &:nth-child(2){}
                    &:nth-child(3){}
                    &:nth-child(4){}
                    &:nth-child(5){}
                    &:nth-child(6){}
                    &:nth-child(7){display: none;}
                    &:nth-child(8){display: none;}
                    &:nth-child(9){display: none;}
                    &:nth-child(10){display: none;}
                    &:hover{background-color: #f87;}
                    }
                }
            }//.inbox
        }//#section5

    //_____FOOTER____________________
        >#footerBox{
            width: 100%;
            height: 40px;
            padding-top: 10px;
            >.inbox{
                >#top{
                    margin: 0 auto;
                    width: 200px;
                    height: 30px;
                    background: url(../img/footer/top.png) no-repeat;
                &:hover{background: url(../img/footer/_top.png) no-repeat;}
                }//#top
            }//.inbox
        }//#footer
    }//#container
} //all