
// mobile_v
@media screen and (max-width:480px) {
    .inbox{
        width: inherit;
        height: inherit; }

    #topAdd{
        width: calc(100% - 2rem);
        height: 3rem;
        background-color: #ddd;
        padding: 1rem;
        >.inbox{
            width: 100%;
            height: 100%;
            padding: 0;
            position: relative;
            >p{
                float: left;
                width: 90%;
                height: 70%;
                text-align: center;
                font-size: 0.8rem;
                color: #f00; }//p
            >.addbox{
                float: left;
                width: 90%;
                height: 30%;
                >a{
                    display: block;
                    margin: 0 auto;
                    color:#f00;
                    font-size: 0.8rem;
                    text-align: center; }//a
            }//addbox
            >button{
                position: absolute;
                top: 0;
                right: 0;
                width: 2rem;
                height: 2rem; 
                float: right;
                color:#fff;
                font-weight: bold;
                font-size: 0.8rem;} //btn
        }//inbox
    }//topadd



	#container{
    //_____headerBox____________________
        >#headerBox{
            width: calc(100% - 20px);
            height: 40px;
            padding: 10px;
            .inbox{
                >#sitemap{display: none;}
                >h1{width: 200px;
                    height: 30px;
                    float: left;
                    >a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        margin-top: 3px;
                        background: url(../img/header/h1.png) no-repeat center;}
                }//h1
                >#gnb{
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    float: right;
                    background: url(../img/btn/gnb_mini.png) no-repeat;
                    background-size:  100% 100%;
                    >ul{display: none;}
                }//#gnb
          }//inbox
        }//#header

    //_____BANNER____________________
        >#banner{
            width: 100%;
            height: 300px;
            overflow: hidden;
            position: relative;
            >.left_btn{
                position: absolute;
                top: 50%;
                margin-top: -30px;
                left: 10px;
                width: 30px;
                height: 30px;
                >button{
                    width: 100%;
                    height: 100%; 
                    background: url('../img/btn/left.png') no-repeat;
                    background-size: 100% 100%; }
            }//btn
            >.right_btn{
                position: absolute;
                top: 50%;
                margin-top: -30px;
                right: 10px;
                width: 30px;
                height: 30px;
                >button{
                    width: 100%;
                    height: 100%; 
                    background: url('../img/btn/right.png') no-repeat;
                    background-size: 100% 100%; }
            }//btn
            >.bslide{/* rwd_all */}//bslide
        }//#banner

    //_____sectionBox1____________________
        >#sectionBox1{
            width: 100%;
            height: 200px;
            >.inbox{
                >h1{
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    font-weight: bold; 
                    font-size: 1rem;}//h1
                >ul.accodion{
                    width: 100%;
                    height: calc(100% - 30px);
                    >li{
                        float: left;
                        width: calc(100% / 3);
                        height: 100%;
                        position: relative;
                        >a{
                            left: 20px;
                            bottom: 20px;
                            position: absolute;
                            display: block;
                            text-align: center;
                            line-height: 20px;
                            width: 50px;
                            height: 20px;
                            font-size: 0.75rem;
                            // font-weight: bold;
                            border-radius: 50%;
                            background-color: #ccc;
                            color: #fff;
                        &:hover{background-color: #003d87;}
                        } //a
                    &.widthview{width: 50%;height: 100%;}
                    &.otherWidth{width:calc(50% / 2);}
                    &:nth-child(1){
                        background-image: url(../img/special/tatami.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center; }
                    &:nth-child(2){
                        background-image: url(../img/special/s7.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center; }
                    &:nth-child(3){
                        background-image: url(../img/special/s8.jpg);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center; }
                    &:nth-child(4){display: none;}
                    }//li
                }//ul
            }//inbox
        }//#section1

    //_____sectionBox2____________________
        >#sectionBox2{display: none;}//#section2

    //_____sectionBox3__BEST3__________________
        >#sectionBox3{
            width: 100%;
            height: 180px;
            >.inbox{
                >h1{
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    font-weight: bold;
                    font-size: 1rem; }//h1
                >#box_04{
                    width: 30%;
                    height: calc(100% - 30px);
                    float: left;
                    margin-right: 5%;
                    background-image: url(../img/a/1.png);
                    background-repeat: no-repeat;
                    background-size: 90% 90%;
                &:hover{transform: rotateY(180deg); } //hover
                }//box4
                >#box_05{
                    width: 30%;
                    height: calc(100% - 30px);
                    float: left;
                    margin-right: 5%;
                    background-image: url(../img/a/4.png);
                    background-repeat: no-repeat;
                    background-size:  90% 90%;
                &:hover{transform: rotateY(180deg); } //hover
                }//box5
                >#box_06{
                    width: 30%;
                    height: calc(100% - 30px);
                    float: left;
                    background-image: url(../img/a/3.png);
                    background-repeat: no-repeat;
                    background-size:  90% 90%;
                &:hover{transform: rotateY(180deg); } //hover
                }//box6
            }//inbox
        }//#section3

    //_____sectionBox4____________________
        >#sectionBox4{display: none;}//#section4

    //_____sectionBox5____________________
        >#sectionBox5{
            width: 100%;
            height: 300px;
            >.inbox{
               >h1{
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    font-weight: bold;
                    font-size: 1rem;
                    >a{
                        line-height: inherit;
                        color: #003d87;
                        font-style: italic;}
                }//h1
                >ul{
                    width: 100%;
                    height: calc(100% - 30px);
                    >li{
                        float: left;
                        width: calc(100% / 3);
                        height: 50%;
                        position: relative;
                    &:nth-child(1){
                        background-image: url(../img/insta/insta_01.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        >div{
                            width: 100%;
                            height: 100%;
                            display: block;
                            background-color: transparent;
                            >a{
                                width: 140px;
                                height: 20px;
                                font-size:1rem;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-left: -60px;
                                margin-top: -10px;
                                display: block;
                                opacity: 0;
                                >span{
                                    color:#fff;
                                    width: 40px;
                                    height: 20px;
                                    padding-left: 20px;
                                &:nth-of-type(1){
                                    float: left;
                                    background-image: url(../img/insta/heart.png);
                                    background-repeat: no-repeat;
                                    margin-right: 20px;}
                                &:nth-of-type(2){
                                    float: left;
                                    background-image: url(../img/insta/bubble.png);
                                    background-repeat: no-repeat;}
                                }//span
                            }//p
                        }//div
                    &:hover div{background-color: rgba(#000,0.6);}
                    &:hover a{opacity: 1;} }
                    &:nth-child(2){
                        background-image: url(../img/insta/insta_02.png);
                        background-repeat: no-repeat;
                        background-size: 100%;
                        >div{
                            width: 100%;
                            height: 100%;
                            display: block;
                            background-color: transparent;
                            >a{
                                width: 140px;
                                height: 20px;
                                font-size:1rem;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-left: -60px;
                                margin-top: -10px;
                                display: block;
                                opacity: 0;
                                >span{
                                    color:#fff;
                                    width: 40px;
                                    height: 20px;
                                    padding-left: 20px;
                                &:nth-of-type(1){
                                    float: left;
                                    background-image: url(../img/insta/heart.png);
                                    background-repeat: no-repeat;
                                    margin-right: 20px;}
                                &:nth-of-type(2){
                                    float: left;
                                    background-image: url(../img/insta/bubble.png);
                                    background-repeat: no-repeat;}
                                }//span
                            }//p
                        }//div
                    &:hover div{background-color: rgba(#000,0.6);}
                    &:hover a{opacity: 1;} }
                    &:nth-child(3){
                        background-image: url(../img/insta/insta_03.png);
                        background-repeat: no-repeat;
                        background-size: 100%;
                        >div{
                            width: 100%;
                            height: 100%;
                            display: block;
                            background-color: transparent;
                            >a{
                                width: 140px;
                                height: 20px;
                                font-size:1rem;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-left: -60px;
                                margin-top: -10px;
                                display: block;
                                opacity: 0;
                                >span{
                                    color:#fff;
                                    width: 40px;
                                    height: 20px;
                                    padding-left: 20px;
                                &:nth-of-type(1){
                                    float: left;
                                    background-image: url(../img/insta/heart.png);
                                    background-repeat: no-repeat;
                                    margin-right: 20px;}
                                &:nth-of-type(2){
                                    float: left;
                                    background-image: url(../img/insta/bubble.png);
                                    background-repeat: no-repeat;}
                                }//span
                            }//p
                        }//div
                    &:hover div{background-color: rgba(#000,0.6);}
                    &:hover a{opacity: 1;} }
                    &:nth-child(4){
                        background-image: url(../img/insta/insta_04.png);
                        background-repeat: no-repeat;
                        background-size: 100%;
                        >div{
                            width: 100%;
                            height: 100%;
                            display: block;
                            background-color: transparent;
                            >a{
                                width: 140px;
                                height: 20px;
                                font-size:1rem;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-left: -60px;
                                margin-top: -10px;
                                display: block;
                                opacity: 0;
                                >span{
                                    color:#fff;
                                    width: 40px;
                                    height: 20px;
                                    padding-left: 20px;
                                &:nth-of-type(1){
                                    float: left;
                                    background-image: url(../img/insta/heart.png);
                                    background-repeat: no-repeat;
                                    margin-right: 20px;}
                                &:nth-of-type(2){
                                    float: left;
                                    background-image: url(../img/insta/bubble.png);
                                    background-repeat: no-repeat;}
                                }//span
                            }//p
                        }//div
                    &:hover div{background-color: rgba(#000,0.6);}
                    &:hover a{opacity: 1;} }
                    &:nth-child(5){
                        background-image: url(../img/insta/insta_05.png);
                        background-repeat: no-repeat;
                        background-size: 100%;
                        >div{
                            width: 100%;
                            height: 100%;
                            display: block;
                            background-color: transparent;
                            >a{
                                width: 140px;
                                height: 20px;
                                font-size:1rem;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-left: -60px;
                                margin-top: -10px;
                                display: block;
                                opacity: 0;
                                >span{
                                    color:#fff;
                                    width: 40px;
                                    height: 20px;
                                    padding-left: 20px;
                                &:nth-of-type(1){
                                    float: left;
                                    background-image: url(../img/insta/heart.png);
                                    background-repeat: no-repeat;
                                    margin-right: 20px;}
                                &:nth-of-type(2){
                                    float: left;
                                    background-image: url(../img/insta/bubble.png);
                                    background-repeat: no-repeat;}
                                }//span
                            }//p
                        }//div
                    &:hover div{background-color: rgba(#000,0.6);}
                    &:hover a{opacity: 1;} }
                    &:nth-child(6){
                        background-image: url(../img/insta/insta_06.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        >div{
                            width: 100%;
                            height: 100%;
                            display: block;
                            background-color: transparent;
                            >a{
                                width: 140px;
                                height: 20px;
                                font-size:1rem;
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                margin-left: -60px;
                                margin-top: -10px;
                                display: block;
                                opacity: 0;
                                >span{
                                    color:#fff;
                                    width: 40px;
                                    height: 20px;
                                    padding-left: 20px;
                                &:nth-of-type(1){
                                    float: left;
                                    background-image: url(../img/insta/heart.png);
                                    background-repeat: no-repeat;
                                    margin-right: 20px;}
                                &:nth-of-type(2){
                                    float: left;
                                    background-image: url(../img/insta/bubble.png);
                                    background-repeat: no-repeat;}
                                }//span
                            }//p
                        }//div
                    &:hover div{background-color: rgba(#000,0.6);}
                    &:hover a{opacity: 1;} }
                    &:nth-child(7){display: none;}
                    &:nth-child(8){display: none;}                    
                    &:nth-child(9){display: none;}
                    &:nth-child(10){display: none;}
                    }// li all
                }//ul
            }//.inbox
        }//#section5

    //_____FOOTER____________________
        >#footerBox{
            width: 100%;
            height: 40px;
            padding-top: 10px;
            >.inbox{
                >h1{
                    margin: 0 auto;
                    width: 200px;
                    height: 30px;
                    >a{
                        width: 100%;
                        height: 100%;
                        display: block;
                        background: url(../img/footer/top.png) no-repeat;
                    &:hover{background: url(../img/footer/_top.png) no-repeat;}
                    }//a
                }//#top
            }//.inbox
        }//#footer
    }//#container
} //all