
// pc
@media screen and (min-width:1025px) {


.inbox{
    width: 960px;
    height: calc(100% - 100px);
    margin: 0 auto;
    // background-color: #ac8;
    padding: 50px 0;
}



    #container{
    //_____headerBox____________________
    	>#headerBox{
            width: 100%;
            height: 6.25rem; //100px
            >.inbox{
                height: 100%;
                padding: 0;
                >#sitemap{
                    width: calc(100% - 10px);
                    padding: 2px 10px 2px 0;
                    height: 20px;
                    background-color: #0a0;
                    >ul{
                        float: right;
                        width: 300px;
                        height: 100%;
                        >li{
                            float: left;
                            height: 100%;
                            >a{font-size:0.75rem; color: #595959;display: block;line-height: 20px;}
                        &:nth-of-type(1){
                            width: 34px;
                            >a{width: 100%;height: 100%;}}
                        &:nth-of-type(2){
                            width: 26px;
                            >a{width: 100%;height: 100%;}}
                        &:nth-of-type(3){
                            width: 28px;
                            >a{width: 100%;height: 100%;}}
                        &:nth-of-type(4){
                            width: 38px;
                            >a{width: 100%;height: 100%;}}
                        &:nth-of-type(5){
                            width: 50px;
                            >a{width: 100%;height: 100%;}}
                        }//li
                        >span{
                            width: 5px;
                            height: 13px; //ul높이가 20
                            margin: 2px 10px 0 5px;
                            border-right: 1px solid #010101;
                            float: left;
                        }
                    }//ul
                }//site_map
                >h1{
                    width: 200px;
                    height: 50px;
                    margin-top: 10px;
                    margin-left: 10px;
                    background: url(../img/header/h1.png) no-repeat 100%;
                    float: left;
                }//h1
                >#gnb{
                    width: 530px;
                    height: 30px;
                    background-color: #acc;
                    float: right;
                    margin-top: 30px;
                    margin-right: 10px;
                    >ul{
                        width: 100%;
                        height: 100%;
                        >li{
                            float: left;
                            margin-right: 15px;
                            line-height: 30px;
                            >a{font-size: 1rem; color:#595959}
                        &:nth-child(1){
                            width: 70px;
                            height: 100%;
                            >a{}
                        }
                        &:nth-child(2){
                            width: 95px;
                            height: 100%;
                            >a{}
                        }
                        &:nth-child(3){
                            width: 75px;
                            height: 100%;
                            >a{}
                        }
                        &:nth-child(4){
                            width: 115px;
                            height: 30px;
                            >a{}
                        }
                        &:nth-child(5){
                            width: 20px;
                            height: 24px;
                            >a{
                                display: block;
                                width: 100%;
                                height: calc(100% - 4px);
                                margin-top: 4px;
                                background: url(../img/logo/facebook_logo.png) no-repeat;
                                background-size: 100%;
                            }
                        }
                        &:nth-child(6){
                            width: 20px;
                            height: 24px;
                            >a{
                                display: block;
                                width: 100%;
                                height: calc(100% - 4px);
                                margin-top: 4px;
                                background: url(../img/logo/instagram.png) no-repeat;
                                background-size: 100%;
                            }
                        }
                        &:nth-child(7){
                            width: 20px;
                            height: 24px;
                            >a{
                                display: block;
                                width: 100%;
                                height: calc(100% - 4px);
                                margin-top: 4px;
                                background: url(../img/logo/youtube_logo.png) no-repeat;
                                background-size: 100%;
                            }
                        }
                      }//li
                    }//ul
                }//gnb
            }//.inbox
        }//#header

    //_____BANNER____________________
    	>#banner{
            width: 100%;
            height: 700px;
            overflow:hidden;
            position: relative;
            >ol{
                position: absolute;
                bottom: 30px;
                left: 50%;
                margin-left: 0 30px;
                width: 50px;
                height: 10px;
                >li{
                    cursor: pointer;
                    background-color: #fff;
                    width: 10px;
                    height: 10px;
                    margin-right: 10px;
                    float: left;
                    border-radius: 50%;
                &:last-child{margin-right: 0;}
                &:hover{background-color: #f06;}
                }//li
            }//ol
            >ul{
                width: 300%;
                height: 100%;
                margin-left: -100%; }//ul
            >ul>li{
                width: calc(100% / 3);
                height: 100%;
                float: left;
                >button{
                    width: 100%;
                    height: 100%; }
            &:nth-child(1)>button{
                background: url(../img/bg/bg_01.jpg) no-repeat;
                background-size: 100%;}
            &:nth-child(2)>button{
                background: url(../img/bg/bg_01.jpg) no-repeat;
                background-size: 100%; }
            &:nth-child(3)>button{
                background: url(../img/bg/bg_03.jpg) no-repeat;
                background-size: 100%; }
            }//li
        }//#banner

    //_____sectionBox1____________________
    	>#sectionBox1{
            width: 100%;
            height: 500px;
            >.inbox{
                >#box_01{
                    width: 30%;
                    height: 100%;
                    background-color: #f8f;
                    float: left;
                }//box_01
                >#box_02{
                    width: 40%;
                    height: 100%;
                    background-color: #a8f;
                    float: left;
                }//box_02
                >#box_03{
                    width: 30%;
                    height: 100%;
                    background-color: #fff;
                    float: left;
                }//box_03
            }//inbox
        }//#section1

    //_____sectionBox2____________________
    	>#sectionBox2{
            width: 100%;
            height: 700px;
            >.inbox{
                >#miniBanner{
                    width: 500px;
                    height: 100%;
                    background-color: #f11;
                    box-shadow: 20px 20px 20px #888;
                    position: relative;
                    overflow: hidden;
                    >ol{
                        position: absolute;
                        left: 20%;
                        bottom: 10%;
                        width: 60px;
                        height: 20px;
                        >li{
                            cursor: pointer;
                            width: 20px;
                            height: 20px;
                            float: left;
                            margin-right: 20px;
                            background-color: #fff;
                        &:nth-child(1){
                            background: url(../img/btn/left.png) no-repeat; background-size: 100% 100%;}
                        &:nth-child(2){
                            margin-right: 0;
                            background: url(../img/btn/right.png) no-repeat; background-size: 100% 100%;}
                        }//li
                    }//ol
                    >ul{
                        width: 200%;
                        height: 100%;
                        margin-left: -100%;
                        >li{
                            width: calc(100% / 2);
                            height: 100%;
                            float: left;
                        &:nth-child(1){background-color: #d81;}
                        &:nth-child(2){background-color: #dd1;}
                       }//li
                    }//ul
                }//minibanner
            }//.onbox
        }//#section2

    //_____sectionBox3____________________
    	>#sectionBox3{
            width: 100%;
            height: 500px;
            >.inbox{
                >h1{
                    border:1px solid;
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                }//h1
                >#box_04{
                    width: 30%;
                    height: calc(100% - 50px);
                    float: left;
                    background-color: #f1a;
                }//box_04
                >#box_05{
                    width: 40%;
                    height: calc(100% - 50px);
                    float: left;
                    background-color: #a91;
                }//box_05
                >#box_06{
                    width: 30%;
                    height: calc(100% - 50px);
                    float: left;
                    background-color: #f1a;
                }//box_06
            }//.inbox
        }//#section3

    //_____sectionBox4____________________
    	>#sectionBox4{
            width: 100%;
            height: 600px;
            >.inbox{
                >h1{
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                }//h1
                >#movie{
                    width: 100%;
                    height: calc(100% - 50px);
                    background-color: #91a;
                    >video{
                        padding: 20px;
                        width: calc(60% - 40px);
                        height:calc( 100% - 40px);
                        background-color: #d9a;
                        float: left;
                    }
                    >#videoText{
                        padding: 20px;
                        width: calc(40% - 40px);
                        height:calc( 100% - 40px);
                        background-color: #ddd;
                        float: left;
                    }
                }//movie
            }
        }//#section4

    //_____sectionBox5____________________
    	>#sectionBox5{
            width: 100%;
            height: 500px;
            >.inbox{
                >h1{
                    width: 100%;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    >em{color: blue;}
                }//h1
                >ul{
                    width: 100%;
                    height: calc(100% - 30px);
                    background-color: #ada;
                    >li{
                        float: left;
                        width: calc(100% / 5);
                        height: 50%;
                        border: 1px solid;
                        box-sizing:border-box;
                    &:hover{background-color: #f87;}
                    }
                }
            }
        }//#section5

    //_____FOOTER____________________
    	>#footerBox{
            width: 100%;
            height: 12.5rem; //200px
            >.inbox{
                padding: 30px 0 0 0;
                height: calc(100% - 30px);
            }
        }//#footer

    }//#container
} //ALL