
// mobile_v
@media screen and (min-width:481px) and (max-width:640px) {
   .inbox{
        width: 100%;
        height: 100%; }
    #container{
    //_____headerBox____________________
        >#headerBox{
            width: calc(100% - 20px);
            height: 40px;
            padding: 10px;
            .inbox{
                >#sitemap{display: none;}
                >h1{width: 200px;
                    height: 30px;
                    float: left;
                    >a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        margin-top: 3px;
                        background: url(../img/header/h1.png) no-repeat center;}
                }//h1
                >#gnb{
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    float: right;
                    background: url(../img/btn/gnb_mini.png) no-repeat;
                    background-size:  100% 100%;
                    position: relative;
                    >ul{
                        display: none;
                        position: absolute;
                        z-index: 700;
                        top: 45px; right: 0;
                        margin-right: -5px;
                        width: 600%;
                        height: auto;
                        border-radius: 5px;
                        overflow: hidden;
                        background-color: rgba(#003987,0.9);
                        >li{
                            display: block;
                            width: calc(100% - 10px);
                            height: 30px;
                            padding: 2px 5px;
                            border-bottom: 1px solid #003987;
                        &:last-child{border-bottom: 0;}
                            >a{
                                text-indent: 15px;
                                text-align: right;
                                display: block;
                                width: 100%; height: 100%;
                                color: #fff;
                                font-size: 1.5rem; line-height: 40px; }//a
                        }//li
                    }//ul
                }//#gnb
          }//inbox
        }//#header
    //_____JOIN_FORM____________________
        >#join{
            width: 100%;
            height: auto;
            >.inbox{
                >h1{
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    font-size: 1.5rem;
                    text-align: center;
                    font-weight: bold;
                }
                >#formBox{
                    width: calc(100% - 10px);
                    height: calc(100% - 10px);
                    padding: 5px;
                    >form{
                        background-color: #fff;
                        width: 100%; height: 100%;
                        border: 3px solid #003987; box-sizing: border-box;
                        button{font-size: 1rem;}
                        >fieldset{
                            width: 100%; height: 100%;
                            li{
                                width: calc(100% - 10px);
                                height: 40px; //ì´50 
                                padding: 5px;
                                border-bottom: 2px solid #003987;
                            &:nth-child(4){height: 70px;}
                            &:nth-child(5){height: 90px;}
                            &:nth-child(6){height: 86px;}
                            &:last-child{border-bottom: 0;}
                            }//li
                            >.infobox{
                                text-indent: 10px;
                                float: left;
                                width: 120px;
                                height: 100%;
                                >li{
                                    border-right: 2px solid #003987;
                                    >label{
                                        line-height: 40px;
                                        font-size: 1rem;
                                        color: #003987;
                                        font-weight: bold;
                                    }//label
                                }//li
                            }//info
                            >.inputbox{
                                float: right;
                                width: calc(100% - 120px);
                                height: 100%;
                                >li{
                                    >span{line-height: 30px; font-weight: bold; font-size: 1.2rem;}
                                    >input{
                                        width: 56%; height: 100%; 
                                        border:1px solid #333; box-sizing: border-box;
                                        text-indent:0.4rem; line-height:30px; }
                                    >button{
                                        background-color: rgba(#3f78d3,0.6);
                                        font-size: 0.8rem;
                                        height:100%; 
                                        box-shadow:1px 1px 1px #777;
                                        cursor: pointer; margin-left:10px; }//btn
                                &:nth-of-type(1)>button{width: 80px;}
                                &:nth-of-type(1)>input,
                                &:nth-of-type(2)>input,
                                &:nth-of-type(3)>input{width: 68%; float: left;}
                                &:nth-of-type(4)>select{width:20%; height:30px; border:1px solid #333;}
                                &:nth-of-type(4)>input{width:20%; height:30px; }
                                &:nth-of-type(4)>button{width:20%; height:30px; min-width: 62px;}
                                &:nth-of-type(4)>.sms{
                                    width: calc(100% - 10px); height:30px; margin-top: 10px; padding-left: 10px;
                                    >dt{width:50%; height: 100%; float: left; margin-top: 5px; font-size: 0.8rem;}
                                    >dd{width: 25%; height: 100%; float: left; font-size: 0.7rem;}
                                    >dd>input{width:15px; height:20px; margin-top:5px; }
                                    >dd>label{line-height:30px;}  }//sms
                                &:nth-of-type(5)>input{ width: 40%; height: 30px; float: left; }
                                &:nth-of-type(5)>select{ width: 40%; height: 30px; float: left; }
                                &:nth-of-type(5)>.email{
                                    width: 100%; height: 20px; float: left;
                                    margin-left: 10px; padding-top: 10px;
                                    >dt{width:50%; height: 100%; float: left; margin-top: 5px; font-size: 0.8rem;}
                                    >dd{width: 25%; height: 100%; float: left; font-size: 0.7rem;}
                                    >dd>input{width:15px; height:15px; margin-top:5px; }
                                    >dd>label{line-height:30px;}  }//email
                                &:nth-of-type(5)>p{
                                    float: left; width: 100%; height: 30px; padding-top: 10px;
                                    font-size: 0.65rem; color:#ff0000; white-space: initial;}
                                &:nth-of-type(6)>input:nth-of-type(1),
                                &:nth-of-type(6)>input:nth-of-type(2){width: 15%; height: 30px;}
                                &:nth-of-type(6)>input:nth-of-type(3),
                                &:nth-of-type(6)>input:nth-of-type(4){width: 100%; height: 22px; margin-top: 5px;}
                                &:nth-of-type(6)>button{width: 20%; height: 30px;}
                                }//li
                            }//inputBox
                        }//fset
                    }//form
                    .btnbox{
                        margin-top: 5px;
                        width: 100%;
                        height: auto;
                            >button{/* all */}//btn
                    }//btnBox
                }//formbox
            }//inbox
        }//joinbox       
    //_____FOOTER____________________
        >#footerBox{
            width: 100%;
            height: 40px;
            padding-top: 10px;
            >button{
                margin: 0 auto;
                display: block;
                width: 40%;
                height: 30px;
                background-image: url(../img/footer/top.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                &:hover{ background-image: url(../img/footer/_top.png); }
            }//btn
            >.inbox{display: none;}//.inbox
        }//#footer
    }//#container
} //all