
// mobile_v
@media screen and (max-width:480px) {
   .inbox{
        width: inherit;
        height: inherit; }
    #container{
    //_____headerBox____________________
        >#headerBox{
            width: calc(100% - 20px);
            height: 40px;
            padding: 10px;
            .inbox{
                >#sitemap{display: none;}
                >h1{width: 200px;
                    height: 30px;
                    float: left;
                    >a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        margin-top: 3px;
                        background: url(../img/header/h1.png) no-repeat center;}
                }//h1
                >#gnb{
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    float: right;
                    background: url(../img/btn/gnb_mini.png) no-repeat;
                    background-size:  100% 100%;
                    >ul{display: none;}
                }//#gnb
          }//inbox
        }//#header
    //_____JOIN_FORM____________________
        >#joinBox{
            width: 100%;
            height: auto;
            >.inbox{
                >h1{
                    width: 100%;
                    height: 50px;
                    font-size: 1.875rem;
                    text-align: center;
                    font-weight: bold;
                }
                >#formBox{
                    width: calc(100% - 40px);
                    height: calc(100% - 40px);
                    padding: 20px;
                    >form{
                        width: 100%; height: 100%;
                        border: 3px solid #003987; box-sizing: border-box;
                        button{font-size: 0.8rem;}
                        >fieldset{
                            width: 100%; height: 100%;
                            li{
                                width: calc(100% - 10px);
                                height: 40px; //ì´50 
                                padding: 5px;
                                border-bottom: 2px solid #003987;
                            &:nth-child(4){height: 70px;}
                            &:nth-child(5){height: 50px;}
                            &:nth-child(6){height: 90px;}
                            &:last-child{border-bottom: 0;}
                            }//li
                            >.infoBox{
                                float: left;
                                width: 160px;
                                height: 100%;
                                >li{
                                    border-right: 2px solid #003987;
                                    >label{
                                        line-height: 40px;
                                        font-size: 1.2rem;
                                        color: #003987;
                                        font-weight: bold;
                                    }//label
                                }//li
                            }//info
                            >.inputBox{
                                font-size: 0.8rem;
                                float: left;
                                width: calc(100% - 160px);
                                height: 100%;
                                >li{
                                    >span{line-height: 30px; font-weight: bold; font-size: 1.2rem;}
                                    >input{
                                        width: 50%; height: 100%; 
                                        border:1px solid #333; box-sizing: border-box;
                                        text-indent:0.4rem; line-height:30px; }
                                    >button{
                                        width:120px; height:100%; 
                                        box-shadow:1px 1px 1px #777;
                                        cursor: pointer; margin-left:10px; }//btn
                                &:nth-of-type(4)>select{width:15%; height:30px; border:1px solid #333;}
                                &:nth-of-type(4)>span{width:7px; height:13px;  border-bottom:1px solid #333; display:inline-block;}
                                &:nth-of-type(4)>input{width:20%; height:30px; }
                                &:nth-of-type(4)>button{width:20%; height:30px;}
                                &:nth-of-type(4)>.sms{
                                    width:100%; height:30px; margin-top: 10px;
                                    >dt{width:20%; height: 100%; float: left; margin-top: 5px; font-size: 0.8rem;}
                                    >dd{width: 15%; height: 100%; float: left; font-size: 0.7rem;}
                                    >dd>input{width:15px; height:15px; margin-top:5px; }
                                    >dd>label{line-height:30px;}  }//sms
                                &:nth-of-type(5)>input{ width: 40%; height: 30px; float: left; }
                                &:nth-of-type(5)>.email{
                                    width: 50%; height: 30px; float: left;
                                    margin-left: 10px; margin-top: 5px;
                                    >dt{float: left; width: 45%; height: 100%; font-size: 0.7rem}
                                    >dd{float: left; width: 25%; height: 100%; font-size: 0.7rem} }///email
                                &:nth-of-type(5)>p{
                                    float: left; width: 100%; height: 10px;
                                    font-size: 0.7rem; line-height: 20px; }
                                &:nth-of-type(6)>input:nth-of-type(1),
                                &:nth-of-type(6)>input:nth-of-type(2){width: 20%; height: 30px;}
                                &:nth-of-type(6)>input:nth-of-type(3),
                                &:nth-of-type(6)>input:nth-of-type(4){width: 100%; height: 25px; margin-top: 5px;}
                                &:nth-of-type(6)>button{width: 20%; height: 30px;}
                                }//li
                            }//inputBox
                        }//fset
                    }//form
                    .btnBox{
                        width: 200px;
                        height: 30px;
                        float: right;
                        padding: 10px 0;
                        >button{
                            border-radius: 10px;
                            height: 25px;
                            background-color: rgba(#003987,0.3);
                        &:nth-of-type(1){width: 60px;}
                        &:nth-of-type(2){width: 100px; margin-right: 30px;}
                        }//btn
                    }//btnBox
                }//formbox
            }//inbox
        }//joinbox
    //_____FOOTER____________________
        >#footerBox{
            width: 100%;
            height: 40px;
            padding-top: 10px;
            >button{
                margin: 0 auto;
                display: block;
                width: 40%;
                height: 30px;
                background-image: url(../img/footer/top.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                &:hover{ background-image: url(../img/footer/_top.png); }
            }//btn
            >.inbox{display: none;}//.inbox
        }//#footer
    }//#container
} //all