
// mobile_v
@media screen and (min-width:481px) and (max-width:640px) {
   .inbox{
        width: 100%;
        height: 100%; }
    #container{
    //_____headerBox____________________
        >#headerBox{
            width: calc(100% - 20px);
            height: 40px;
            padding: 10px;
            .inbox{
                >#sitemap{display: none;}
                >h1{width: 200px;
                    height: 30px;
                    float: left;
                    >a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        margin-top: 3px;
                        background: url(../img/header/h1.png) no-repeat center;}
                }//h1
                >#gnb{
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    float: right;
                    background: url(../img/btn/gnb_mini.png) no-repeat;
                    background-size:  100% 100%;
                    position: relative;
                    >ul{
                        display: none;
                        position: absolute;
                        z-index: 700;
                        top: 45px; right: 0;
                        margin-right: -5px;
                        width: 600%;
                        height: auto;
                        border-radius: 5px;
                        overflow: hidden;
                        background-color: rgba(#003987,0.9);
                        >li{
                            display: block;
                            width: calc(100% - 10px);
                            height: 30px;
                            padding: 2px 5px;
                            border-bottom: 1px solid #003987;
                        &:last-child{border-bottom: 0;}
                            >a{
                                text-indent: 15px;
                                text-align: right;
                                display: block;
                                width: 100%; height: 100%;
                                color: #fff;
                                font-size: 1.5rem; line-height: 40px; }//a
                        }//li
                    }//ul
                }//#gnb
          }//inbox
        }//#header
    // _____JOIN_FORM____________________

        #join{
            padding: 20px 20px;
            width: calc(100% - 40px);
            height: calc(100% - 40px);
            >.inbox{
                >h1{
                margin-left: 5%;
                width: 90%;
                height: 40px;
                background-image: url(../img/name/join.png);
                background-repeat: no-repeat;
                background-size: contain;
                border-bottom: 1px solid #ccc;
                }//h1
                >#formBox{
                    width: 100%;
                    height: auto;
                    >form{
                        padding: 0 20px;
                        height: 100%;
                        width: calc(100% - 40px);
                        >fieldset{
                            width: 100%; height: 100%;
                            >.infobox{
                                width: 100%;
                                height: auto;
                                >li{
                                    width: 100%;
                                    height: 50px; //ì´ 50 + 40 = 90
                                    padding: 20px 0 ;
                                    >label{
                                        font-weight: bold;
                                        line-height: 30px;
                                        text-indent: 5px;
                                        width: 100%;
                                        height: 30px;
                                        padding: 2px 0;
                                        display: block;
                                    }//label
                                    >input{
                                        border-radius: 5px 0 0 5px;
                                        width: 100%;
                                        height: 40px;
                                        float: left;
                                        text-indent: 15px;
                                        font-size: 0.9rem;
                                    }//input
                                    >button{
                                        border-radius: 0 5px 5px 0;
                                        float: left;
                                        width: 200px;
                                        height: 40px;
                                        background-color: #003987;
                                        color: #fff;
                                        font-weight: bold;
                                    }//btn
                                &:nth-child(1){
                                    >input{
                                        width: calc(100% - 200px);
                                        height: 40px;
                                        float: left;
                                        text-indent: 15px;
                                    }//input
                                    >button{
                                        float: left;
                                        width: 200px;
                                    }//btn
                                }//li
                                &:nth-child(2){}//li
                                &:nth-child(3){}//li
                                &:nth-child(4){}//li
                                &:nth-child(5){
                                    >input{
                                        width: calc(100% - 200px);
                                        height: 40px;
                                        float: left;
                                        text-indent: 15px;
                                    }//input
                                    >button{
                                        float: left;
                                        width: 200px;
                                    }//btn
                                }//li
                                &:nth-child(6){
                                    >input{
                                        width: calc(100% - 200px);
                                        height: 40px;
                                        float: left;
                                        text-indent: 15px;
                                    }//input
                                    >button{
                                        float: left;
                                        width: 200px;
                                    }//btn
                                }//li
                                &:nth-child(7){
                                    height: 70px;
                                    >input{
                                        width: calc(100% - 200px);
                                        height: 40px;
                                        float: left;
                                        text-indent: 15px;
                                    }//input
                                    >button{
                                        float: left;
                                        width: 200px;
                                    }//btn
                                    >p{
                                        float: left;
                                        margin-top: 5px;
                                        margin-left: 2%;
                                        width: 98%;
                                        height: 20px;
                                        line-height: 20px;
                                        font-size: 0.8rem;
                                        color: red;
                                    }//p
                                }//li
                                &:nth-child(8){
                                    >input{
                                        width: 20px;
                                        height: 20px;
                                        margin: 9px 5px 5px 5px;
                                    }//input
                                    >label:nth-of-type(2){
                                        >a{
                                            color : #3f78d3 ;
                                            line-height: 30px;
                                        &:hover{color: #003987;}
                                        }//a
                                    }//2:label
                                }//li8

                                }//liall
                            }//ol#infobox
                            >.btnbox{
                                margin-top: 30px;
                                width: 100%;
                                height: 50px;
                                padding: 20px 0;
                                >.box{
                                    width: 300px;
                                    height: 100%;
                                    margin: 0 auto;
                                    >button:nth-of-type(1){
                                        border-radius: 5px;
                                        float: left;
                                        width: 140px;
                                        height: 100%;
                                        margin-right: 20px;
                                        background-color: #003987;
                                        color: #fff;
                                        font-size: 1.25rem;
                                    &:hover{ background-color: #fff; color: #003987; border: 1px solid #003987; }
                                    }//btn
                                    >button:nth-of-type(2){
                                        border-radius: 5px;
                                        float: left;
                                        width: 140px;
                                        height: 100%;
                                        background-color: #fff;
                                        color: #003987;
                                        font-size: 1.25rem;
                                         border: 1px solid #003987;
                                    &:hover{ background-color: #003987; color: #fff;}
                                    }//btn
                                }//inbox
                            }//btnbox
                        }//fieldset
                    }//form
                }//formBox
            }//inbox
        }//#join
    //_____FOOTER____________________
        >#footerBox{
            width: 100%;
            height: 40px;
            padding-top: 10px;
            >button{
                margin: 0 auto;
                display: block;
                width: 40%;
                height: 30px;
                background-image: url(../img/footer/top.png);
                background-repeat: no-repeat;
                background-size: 100% 100%;
                &:hover{ background-image: url(../img/footer/_top.png); }
            }//btn
            >.inbox{display: none;}//.inbox
        }//#footer
    }//#container
} //all