
#container{
	width: 100%;
	height: 100%;
   	>#headerBox{
      background-color: #fff;
   	}
    >#content{
        background-image: url(../img/bg/bg_02_gray.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
   	>#footerBox{
   		background-color: #acc;
   	}
}//#container




#popupUl{
    >li{
        >a{
            background-repeat: no-repeat;
            background-position:center;
            background-size:100%;
            transition: all 0.5s !important;
        &:hover{background-size:130%;} }// a
    &:nth-child(1)>a{background-image:url("../img/popup/1.jpg");}
    &:nth-child(2)>a{background-image:url("../img/popup/1.jpg");}
    &:nth-child(3)>a{background-image:url("../img/popup/1.jpg");}
    &:nth-child(4)>a{background-image:url("../img/popup/1.jpg");}
    &:nth-child(5)>a{background-image:url("../img/popup/1.jpg");}
    &:nth-child(6)>a{background-image:url("../img/popup/1.jpg");}
    &:nth-child(7)>a{background-image:url("../img/popup/1.jpg");}
    &:nth-child(8)>a{background-image:url("../img/popup/1.jpg");}
    &:nth-child(9)>a{background-image:url("../img/popup/1.jpg");}
    &:nth-child(10)>a{background-image:url("../img/popup/1.jpg");}
    &:nth-child(11)>a{background-image:url("../img/popup/1.jpg");}
    &:nth-child(12)>a{background-image:url("../img/popup/1.jpg");}
    &:nth-child(13)>a{background-image:url("../img/popup/1.jpg");}
    &:nth-child(14)>a{background-image:url("../img/popup/1.jpg");}
    &:nth-child(15)>a{background-image:url("../img/popup/1.jpg");}
    &:nth-child(16)>a{background-image:url("../img/popup/1.jpg");}
    &:nth-child(17)>a{background-image:url("../img/popup/1.jpg");}
    &:nth-child(18)>a{background-image:url("../img/popup/1.jpg");}
    &:nth-child(19)>a{background-image:url("../img/popup/1.jpg");}
    &:nth-child(20)>a{background-image:url("../img/popup/1.jpg");}
    }//li
}