// tablet_v
@media screen and (min-width:641px) and (max-width:768px) {
    .inbox{
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    padding: 20px;
    }
    #container{
    //_____headerBox____________________
        >#headerBox{
            width: 100%;
            height: 70px;
            .inbox{
                >#sitemap{display: none;}
                >h1{width: 200px;
                    height: 40px;
                    float: left;
                    >a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: url(../img/header/h1.png) no-repeat;
                        background-size: 100%;}
                }//h1
                >#gnb{
                    width: 350px;
                    height: 30px;
                    float: right;
                    margin-top: 10px;
                    >ul{
                        width: 100%;
                        height: 100%;
                        >li{
                            float: left;
                            margin-right: 15px;
                            line-height: 30px;
                            >a{font-size: 0.9rem; color:#595959}
                        &:nth-child(1){
                            width: 60px;
                            height: 100%;
                        }
                        &:nth-child(2){
                            width: 84px;
                            height: 100%;
                        }
                        &:nth-child(3){
                            width: 64px;
                            height: 100%;
                        }
                        &:nth-child(4){
                            width: 64px;
                            height: 100%;
                        }
                        &:nth-child(5){display: none;}//li5
                      }//li
                    }//ul
                }//gnb
          }//inbox
        }//#header
    //_____CONTENT____________________
        >#content{
            width: 100%;
            height: auto;
            >.inbox{
                position: relative;
                >#popupFade{
                    width: 100%;
                    height: 100%;
                    position: fixed; z-index: 500; top: 0; left: 0;
                    background-color: rgba(0,0,0,0.1);
                    display: none;
                    >.popupbox{
                        width: 80%; height: auto; background-color: #fff;
                        border: 3px solid #67a; border-radius: 10px; box-sizing: border-box;
                        position: absolute; left: 10%; top: 15%;
                        box-shadow: 3px 3px 3px #ccc; overflow: hidden; }//box
                    >button{
                        width: 3rem; height: 3rem; background-color: #333;
                        position: absolute; right: calc(10% - 1.5rem); top: calc(15% - 1.5rem); z-index: 700;
                        border-radius: 50%; box-shadow: 2px 2px 2px #333;
                    &:hover{background-color: #bc1339;}
                    }//btn
                }//popup
                >h1{
                    padding: 10px 0;
                    width: 100%;
                    height: 30px; //총 50px
                    font-size: 1.75rem;
                    text-align: center
                }//h1
                >#popupUl{
                    width: 100%; height: auto; border: 5px solid #fcc; box-sizing: border-box;
                    background-color: #fff;
                    >li{
                        width: 25%; height: 8rem;
                        background-color: #ffa;
                        float: left; border: 1px solid #ccc; box-sizing: border-box;
                        >a{width: 100%; height: 100%; display: block;}
                    }//li
                }//ul
            }//inbox
        }//content
    //_____FOOTER____________________
        >#footerBox{
            width: 100%;
            height: auto;
            position: relative;
            >button{
                position: absolute;
                top: 10px; right: 10px;
                z-index: 100;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #fff;
                background-image: url(../img/btn/m_t.png);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
                box-shadow: 3px 3px 3px #555;
            }//btn
            >.inbox{
                >#help{
                    width: 100%;
                    height: 120px;
                    >ul{
                        width: 100%;
                        height: 100%;
                        >li{
                            float: left;
                            padding:10px;
                            height: calc(100% - 20px); //높이는 밑에서 하나씪 뻄~
                            background-image: url(../img/bg/box.jpg);
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                            >h1{
                                width: 100%;
                                height: 35%;
                                text-align: center;
                                font-size: 1rem;
                                line-height: 35px;}//h1
                        &:nth-child(1){
                          width: calc(30% - 20px);
                            >ul{
                                width: 100%;
                                height: 65%;
                                >li{width: 32%; height: 85%; float: left; margin-right: 2%;
                                &:nth-child(1){
                                    >a{
                                        display: block;
                                        width: 100%; height: 100%;
                                        background-image: url(../img/logo/face1.png);
                                        background-repeat: no-repeat;
                                        background-size: 100% 100%;
                                    }
                                }//li1
                                &:nth-child(2){
                                    >a{
                                        display: block;
                                        width: 100%; height: 100%;
                                        background-image: url(../img/logo/insta1.png);
                                        background-position: 0 0;
                                        background-repeat: no-repeat;
                                        background-size: 100% 100%;
                                    }
                                }//li2
                                &:nth-child(3){
                                    margin-right: 0;
                                    >a{
                                        display: block;
                                        width: 100%; height: 100%;
                                        background-image: url(../img/logo/you1.png);
                                        background-position: 0 0;
                                        background-repeat: no-repeat;
                                        background-size: 100% 100%;
                                    }
                                }//li3
                                }//li
                            }//ul
                        }
                        &:nth-child(2){
                          width: calc(40% - 40px);
                          margin: 0 10px;
                            >p{
                                width: 100%;
                                height: 35%;
                                font-size: 0.8rem;
                                text-align: center;
                            }
                            >form{
                                width: 100%;
                                height: 30%;
                                >fieldset{
                                    width: 100%; height: 100%;
                                    >input{
                                        text-indent:10px; 
                                        width: 75%; 
                                        height: 100%;
                                    }//input
                                    >button{width: 20%; height: 100%; font-size: 0.8rem;}
                                }//fieldset
                            }//form
                            }
                        &:nth-child(3){
                          width: calc(30% - 20px);
                          margin-right: 0;
                            >p{text-align: center;
                                >a{color:#00a;}
                            }//p
                        }//li3
                        }//li
                    }//ul
                }//help
                >#text{
                    width: 100%;
                    height: 80px;
                    margin-top: 20px;
                    >ul{
                        background-image: url(../img/bg/textbox.jpg);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        padding: 10px 20px;
                        width: calc(100% - 40px);
                        height: calc(100% - 20px); //70 - 20 = 50
                        >li{
                            padding: 5px 0;
                            height: 20px; //30 - 10
                            float: left;
                            >a{
                                display: block;
                                color: #222;
                                font-size: 0.8rem;
                                line-height: 20px;
                                text-align: center;}//a
                        &:nth-child(1){width: 25%;}
                        &:nth-child(2){width: 25%;}
                        &:nth-child(3){width: 25%;}
                        &:nth-child(4){width: 25%;}
                        &:nth-child(5){width: 20%;}
                        &:nth-child(6){width: 20%;}
                        &:nth-child(7){width: 20%;}
                        &:nth-child(8){width: 20%;}
                        &:nth-child(9){width: 20%;}
                        }//li
                    }//ul
                }//#text
                >#company{
                    width: 100%;
                    padding: 1.5rem 0;
                    height: auto;
                    >p{
                        color:#000;
                    }
                    >p:nth-child(1){
                        font-size: 0.9rem;
                        line-height: 0.8rem;
                        margin-bottom: 10px;
                    }
                    >p:nth-child(2){
                        font-size: 0.8rem;
                        line-height: 0.8rem;
                        white-space: pre-line;
                    }
                }//company
            }//inbox
        }//#footer
    }//#container
} //all


