* {
  transition: all 0.5s ease; }

html, body {
  height: 100%; }

#container header#headerBox {
  background-color: rgba(204, 204, 204, 0.5); }
#container footer#footerBox {
  background-color: rgba(0, 0, 0, 0.7); }

@media screen and (max-width: 480px) {
  #container {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 400px;
    min-width: 370px; }
    #container > #headerBox {
      width: calc(100% - 20px);
      height: 50px;
      padding: 20px 10px 0 10px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 500; }
      #container > #headerBox > h1 {
        width: 200px;
        height: 30px;
        float: left; }
        #container > #headerBox > h1 > a {
          width: 100%;
          height: 100%;
          display: block;
          background-image: url("../img/header/h1.png");
          background-repeat: no-repeat;
          background-position: center center; }
      #container > #headerBox > #gnb {
        width: calc(100% - 200px);
        height: 20px;
        padding-top: 10px;
        float: right; }
        #container > #headerBox > #gnb > ul {
          float: right;
          width: 125px;
          margin-right: 10px;
          height: auto; }
          #container > #headerBox > #gnb > ul > li {
            float: left;
            height: 20px;
            margin-right: 10px; }
            #container > #headerBox > #gnb > ul > li:nth-child(1) {
              display: none; }
            #container > #headerBox > #gnb > ul > li:nth-child(2) {
              width: 45px; }
            #container > #headerBox > #gnb > ul > li:nth-child(3) {
              width: 70px;
              margin-right: 0;
              background-color: #919; }
            #container > #headerBox > #gnb > ul > li:nth-child(4) {
              display: none; }
            #container > #headerBox > #gnb > ul > li:nth-child(5) {
              display: none; }
            #container > #headerBox > #gnb > ul > li:nth-child(6) {
              display: none; }
            #container > #headerBox > #gnb > ul > li > a {
              font-size: 0.7rem;
              color: #003f85;
              text-align: center; }
              #container > #headerBox > #gnb > ul > li > a:hover {
                text-decoration: underline; }
    #container > #mainBanner {
      width: 100%;
      height: 100%;
      background-image: url("../img/pp/sulli/02.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: -150px 0;
      position: relative; }
      #container > #mainBanner > .shop {
        width: 200px;
        height: 150px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -80px;
        margin-left: -100px; }
        #container > #mainBanner > .shop > a {
          text-align: center;
          display: block;
          font: bold 4.5rem/4rem "arial";
          color: #fff; }
          #container > #mainBanner > .shop > a:hover {
            color: rgba(0, 63, 133, 0.8); }
      #container > #mainBanner > .btn {
        width: 100px;
        height: 30px;
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-bottom: 20px;
        margin-left: -45px; }
        #container > #mainBanner > .btn > a {
          width: 100%;
          height: 100%;
          display: block;
          background-image: url("../img/btn/bottom_03.png");
          background-repeat: no-repeat;
          background-size: 100% 100%; }
          #container > #mainBanner > .btn > a:hover {
            background-image: url("../img/btn/bottom.png");
            background-repeat: no-repeat;
            background-size: 100% 100%; }
    #container > #sectionBox1 {
      border-bottom: 1px solid  #000;
      width: 100%;
      height: calc(100% - 70px);
      padding-top: 70px; }
      #container > #sectionBox1 > #newArrivals {
        width: 90%;
        height: 90%;
        margin: 5%; }
        #container > #sectionBox1 > #newArrivals > .shop {
          display: none; }
        #container > #sectionBox1 > #newArrivals > .minibox {
          width: 100%;
          height: 100%;
          float: left;
          background: url(../img/pp/sulli/01.jpg) no-repeat;
          background-size: 100% 100%;
          position: relative; }
          #container > #sectionBox1 > #newArrivals > .minibox > a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative; }
            #container > #sectionBox1 > #newArrivals > .minibox > a > span {
              position: absolute;
              top: 50%;
              left: 50%;
              margin-left: -75px;
              margin-top: -15px;
              display: block;
              width: 150px;
              height: 30px;
              font-size: 2rem;
              text-align: center;
              color: #fff; }
          #container > #sectionBox1 > #newArrivals > .minibox:hover a {
            background-color: rgba(0, 0, 0, 0.6); }
        #container > #sectionBox1 > #newArrivals > .bigbox {
          display: none; }
    #container > #sectionBox2 {
      border-bottom: 1px solid  #000;
      width: 100%;
      height: calc(100% - 70px);
      padding-top: 70px; }
      #container > #sectionBox2 > #collection {
        width: 90%;
        height: 90%;
        margin: 5%; }
        #container > #sectionBox2 > #collection > .shop {
          display: none; }
        #container > #sectionBox2 > #collection > .minibox {
          width: 100%;
          height: 100%;
          float: left;
          background: url(../img/pp/sulli/03.jpg) no-repeat;
          background-size: 100% 100%; }
          #container > #sectionBox2 > #collection > .minibox > a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative; }
            #container > #sectionBox2 > #collection > .minibox > a > span {
              position: absolute;
              top: 50%;
              left: 50%;
              margin-left: -75px;
              margin-top: -15px;
              display: block;
              width: 150px;
              height: 30px;
              font-size: 2rem;
              text-align: center;
              color: #fff; }
          #container > #sectionBox2 > #collection > .minibox:hover a {
            background-color: rgba(0, 0, 0, 0.6); }
        #container > #sectionBox2 > #collection > .bigbox {
          display: none; }
    #container > #sectionBox3 {
      border-bottom: 1px solid  #000;
      width: 100%;
      height: calc(100% - 70px);
      padding-top: 70px; }
      #container > #sectionBox3 > #press {
        width: 90%;
        height: 90%;
        margin: 5%; }
        #container > #sectionBox3 > #press > .shop {
          display: none; }
        #container > #sectionBox3 > #press > .minibox {
          width: 100%;
          height: 100%;
          float: left;
          background: url(../img/pp/sulli/05.jpg) no-repeat;
          background-size: 100% 100%; }
          #container > #sectionBox3 > #press > .minibox > a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative; }
            #container > #sectionBox3 > #press > .minibox > a > span {
              position: absolute;
              top: 50%;
              left: 50%;
              margin-left: -75px;
              margin-top: -15px;
              display: block;
              width: 150px;
              height: 30px;
              font-size: 2rem;
              text-align: center;
              color: #fff; }
          #container > #sectionBox3 > #press > .minibox:hover a {
            background-color: rgba(0, 0, 0, 0.6); }
        #container > #sectionBox3 > #press > .bigbox {
          display: none; }
    #container #footerBox {
      width: 100%;
      padding-top: 10px;
      height: 40px; }
      #container #footerBox > h1 {
        display: none; }
      #container #footerBox > .up {
        width: 200px;
        height: 30px;
        background-color: rgba(0, 63, 133, 0.8);
        border: 1px solid #fff;
        box-sizing: border-box;
        border-radius: 3px;
        margin: 0 auto; }
        #container #footerBox > .up > a {
          width: 100%;
          height: 100%;
          display: block;
          color: #fff;
          font-size: 1rem;
          text-align: center;
          line-height: 30px; }
          #container #footerBox > .up > a:hover {
            background-color: #fff;
            color: #003f85; } }
@media screen and (min-width: 481px) and (max-width: 640px) {
  #container {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 400px;
    min-width: 370px; }
    #container > #headerBox {
      width: calc(100% - 20px);
      height: 50px;
      padding: 20px 10px 0 10px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 500; }
      #container > #headerBox > h1 {
        width: 200px;
        height: 30px;
        float: left; }
        #container > #headerBox > h1 > a {
          width: 100%;
          height: 100%;
          display: block;
          background-image: url("../img/header/h1.png");
          background-repeat: no-repeat;
          background-position: center center; }
      #container > #headerBox > #gnb {
        width: calc(100% - 200px);
        height: 20px;
        padding-top: 10px;
        float: right; }
        #container > #headerBox > #gnb > ul {
          float: right;
          width: 130px;
          margin-right: 10px;
          height: auto; }
          #container > #headerBox > #gnb > ul > li {
            float: left;
            height: 20px;
            margin-right: 10px; }
            #container > #headerBox > #gnb > ul > li:nth-child(1) {
              display: none; }
            #container > #headerBox > #gnb > ul > li:nth-child(2) {
              width: 45px; }
            #container > #headerBox > #gnb > ul > li:nth-child(3) {
              width: 70px;
              margin-right: 0; }
            #container > #headerBox > #gnb > ul > li:nth-child(4) {
              display: none; }
            #container > #headerBox > #gnb > ul > li:nth-child(5) {
              display: none; }
            #container > #headerBox > #gnb > ul > li:nth-child(6) {
              display: none; }
            #container > #headerBox > #gnb > ul > li > a {
              font-size: 0.7rem;
              color: #003f85;
              text-align: center; }
              #container > #headerBox > #gnb > ul > li > a:hover {
                text-decoration: underline; }
    #container > #mainBanner {
      width: 100%;
      height: 100%;
      background-image: url("../img/pp/sulli/02.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: -150px 0;
      position: relative; }
      #container > #mainBanner > .shop {
        width: 200px;
        height: 150px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -80px;
        margin-left: -100px; }
        #container > #mainBanner > .shop > a {
          text-align: center;
          display: block;
          font: bold 4.5rem/4rem "arial";
          color: #fff; }
          #container > #mainBanner > .shop > a:hover {
            color: rgba(0, 63, 133, 0.8); }
      #container > #mainBanner > .btn {
        width: 100px;
        height: 30px;
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-bottom: 20px;
        margin-left: -45px; }
        #container > #mainBanner > .btn > a {
          width: 100%;
          height: 100%;
          display: block;
          background-image: url("../img/btn/bottom_03.png");
          background-repeat: no-repeat;
          background-size: 100% 100%; }
          #container > #mainBanner > .btn > a:hover {
            background-image: url("../img/btn/bottom.png");
            background-repeat: no-repeat;
            background-size: 100% 100%; }
    #container > #sectionBox1 {
      border-bottom: 1px solid  #000;
      width: 100%;
      height: calc(100% - 70px);
      padding-top: 70px; }
      #container > #sectionBox1 > #newArrivals {
        width: 90%;
        height: 90%;
        margin: 5%; }
        #container > #sectionBox1 > #newArrivals > .shop {
          display: none; }
        #container > #sectionBox1 > #newArrivals > .minibox {
          width: 100%;
          height: 100%;
          float: left;
          background: url(../img/pp/sulli/01.jpg) no-repeat;
          background-size: 100% 100%;
          position: relative; }
          #container > #sectionBox1 > #newArrivals > .minibox > a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative; }
            #container > #sectionBox1 > #newArrivals > .minibox > a > span {
              position: absolute;
              top: 50%;
              left: 50%;
              margin-left: -75px;
              margin-top: -15px;
              display: block;
              width: 150px;
              height: 30px;
              font-size: 2rem;
              text-align: center;
              color: #fff; }
          #container > #sectionBox1 > #newArrivals > .minibox:hover a {
            background-color: rgba(0, 0, 0, 0.6); }
        #container > #sectionBox1 > #newArrivals > .bigbox {
          display: none; }
    #container > #sectionBox2 {
      border-bottom: 1px solid  #000;
      width: 100%;
      height: calc(100% - 70px);
      padding-top: 70px; }
      #container > #sectionBox2 > #collection {
        width: 90%;
        height: 90%;
        margin: 5%; }
        #container > #sectionBox2 > #collection > .shop {
          display: none; }
        #container > #sectionBox2 > #collection > .minibox {
          width: 100%;
          height: 100%;
          float: left;
          background: url(../img/pp/sulli/03.jpg) no-repeat;
          background-size: 100% 100%; }
          #container > #sectionBox2 > #collection > .minibox > a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative; }
            #container > #sectionBox2 > #collection > .minibox > a > span {
              position: absolute;
              top: 50%;
              left: 50%;
              margin-left: -75px;
              margin-top: -15px;
              display: block;
              width: 150px;
              height: 30px;
              font-size: 2rem;
              text-align: center;
              color: #fff; }
          #container > #sectionBox2 > #collection > .minibox:hover a {
            background-color: rgba(0, 0, 0, 0.6); }
        #container > #sectionBox2 > #collection > .bigbox {
          display: none; }
    #container > #sectionBox3 {
      border-bottom: 1px solid  #000;
      width: 100%;
      height: calc(100% - 70px);
      padding-top: 70px; }
      #container > #sectionBox3 > #press {
        width: 90%;
        height: 90%;
        margin: 5%; }
        #container > #sectionBox3 > #press > .shop {
          display: none; }
        #container > #sectionBox3 > #press > .minibox {
          width: 100%;
          height: 100%;
          float: left;
          background: url(../img/pp/sulli/05.jpg) no-repeat;
          background-size: 100% 100%; }
          #container > #sectionBox3 > #press > .minibox > a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative; }
            #container > #sectionBox3 > #press > .minibox > a > span {
              position: absolute;
              top: 50%;
              left: 50%;
              margin-left: -75px;
              margin-top: -15px;
              display: block;
              width: 150px;
              height: 30px;
              font-size: 2rem;
              text-align: center;
              color: #fff; }
          #container > #sectionBox3 > #press > .minibox:hover a {
            background-color: rgba(0, 0, 0, 0.6); }
        #container > #sectionBox3 > #press > .bigbox {
          display: none; }
    #container #footerBox {
      width: 100%;
      padding-top: 10px;
      height: 40px; }
      #container #footerBox > h1 {
        display: none; }
      #container #footerBox > .up {
        width: 200px;
        height: 30px;
        background-color: rgba(0, 63, 133, 0.8);
        border: 1px solid #fff;
        box-sizing: border-box;
        border-radius: 3px;
        margin: 0 auto; }
        #container #footerBox > .up > a {
          width: 100%;
          height: 100%;
          display: block;
          color: #fff;
          font-size: 1rem;
          text-align: center;
          line-height: 30px; }
          #container #footerBox > .up > a:hover {
            background-color: #fff;
            color: #003f85; } }
@media screen and (min-width: 641px) and (max-width: 768px) {
  #container {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 500px; }
    #container > #headerBox {
      width: calc(100% - 20px);
      height: 60px;
      padding: 30px 10px 0 10px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 500; }
      #container > #headerBox > h1 {
        width: 200px;
        height: 30px;
        float: left; }
        #container > #headerBox > h1 > a {
          width: 100%;
          height: 100%;
          display: block;
          background-image: url("../img/header/h1.png");
          background-repeat: no-repeat;
          background-position: center center; }
      #container > #headerBox > #gnb {
        width: calc(100% - 200px);
        height: 20px;
        padding-top: 10px;
        float: right; }
        #container > #headerBox > #gnb > ul {
          float: right;
          width: 180px;
          height: auto; }
          #container > #headerBox > #gnb > ul > li {
            float: left;
            height: 20px;
            margin-right: 10px; }
            #container > #headerBox > #gnb > ul > li:nth-child(1) {
              width: 35px; }
            #container > #headerBox > #gnb > ul > li:nth-child(2) {
              width: 45px; }
            #container > #headerBox > #gnb > ul > li:nth-child(3) {
              width: 70px;
              margin-right: 0; }
            #container > #headerBox > #gnb > ul > li:nth-child(4) {
              display: none; }
            #container > #headerBox > #gnb > ul > li:nth-child(5) {
              display: none; }
            #container > #headerBox > #gnb > ul > li:nth-child(6) {
              display: none; }
            #container > #headerBox > #gnb > ul > li > a {
              font-size: 0.8rem;
              color: #003f85;
              text-align: center; }
              #container > #headerBox > #gnb > ul > li > a:hover {
                text-decoration: underline; }
    #container > #mainBanner {
      width: 100%;
      height: 100%;
      background-image: url("../img/pp/sulli/02.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: relative; }
      #container > #mainBanner > .shop {
        width: 200px;
        height: 150px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -80px;
        margin-left: -100px; }
        #container > #mainBanner > .shop > a {
          text-align: center;
          display: block;
          font: bold 4.5rem/4rem "arial";
          color: #fff; }
          #container > #mainBanner > .shop > a:hover {
            color: rgba(0, 63, 133, 0.8); }
      #container > #mainBanner > .btn {
        width: 100px;
        height: 30px;
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-bottom: 20px;
        margin-left: -45px; }
        #container > #mainBanner > .btn > a {
          width: 100%;
          height: 100%;
          display: block;
          background-image: url("../img/btn/bottom_03.png");
          background-repeat: no-repeat;
          background-size: 100% 100%; }
          #container > #mainBanner > .btn > a:hover {
            background-image: url("../img/btn/bottom.png");
            background-repeat: no-repeat;
            background-size: 100% 100%; }
    #container > #sectionBox1 {
      width: 100%;
      height: 100%; }
      #container > #sectionBox1 > #newArrivals {
        width: 100%;
        height: calc(100% - 200px);
        padding-top: 100px; }
        #container > #sectionBox1 > #newArrivals > .shop {
          display: none; }
        #container > #sectionBox1 > #newArrivals > .minibox {
          width: 300px;
          height: 80%;
          margin-top: 50px;
          margin-left: 5%;
          float: left;
          background: url(../img/bg/bg_02.jpg) no-repeat;
          background-size: cover;
          position: relative; }
          #container > #sectionBox1 > #newArrivals > .minibox > a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative; }
            #container > #sectionBox1 > #newArrivals > .minibox > a > span {
              position: absolute;
              top: 50%;
              left: 50%;
              margin-left: -75px;
              margin-top: -15px;
              display: block;
              width: 150px;
              height: 30px;
              font-size: 2rem;
              text-align: center;
              color: #fff; }
          #container > #sectionBox1 > #newArrivals > .minibox:hover a {
            background-color: rgba(0, 0, 0, 0.6); }
        #container > #sectionBox1 > #newArrivals > .bigbox {
          background: url(../img/bg/bg_02.jpg) no-repeat;
          width: 49%;
          height: 100%;
          margin-right: 1%;
          float: right; }
    #container > #sectionBox2 {
      width: 100%;
      height: 100%; }
      #container > #sectionBox2 > #collection {
        width: 100%;
        height: calc(100% - 200px);
        padding-top: 100px; }
        #container > #sectionBox2 > #collection > .shop {
          display: none; }
        #container > #sectionBox2 > #collection > .minibox {
          width: 300px;
          height: 80%;
          margin-top: 50px;
          margin-right: 5%;
          float: right;
          background: url(../img/bg/bg_02.jpg) no-repeat;
          background-size: cover;
          position: relative; }
          #container > #sectionBox2 > #collection > .minibox > a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative; }
            #container > #sectionBox2 > #collection > .minibox > a > span {
              position: absolute;
              top: 50%;
              left: 50%;
              margin-left: -75px;
              margin-top: -15px;
              display: block;
              width: 150px;
              height: 30px;
              font-size: 2rem;
              text-align: center;
              color: #fff; }
          #container > #sectionBox2 > #collection > .minibox:hover a {
            background-color: rgba(0, 0, 0, 0.6); }
        #container > #sectionBox2 > #collection > .bigbox {
          background: url(../img/bg/bg_02.jpg) no-repeat;
          width: 49%;
          height: 100%;
          margin-left: 1%;
          float: left; }
    #container > #sectionBox3 {
      width: 100%;
      height: 100%; }
      #container > #sectionBox3 > #press {
        width: 100%;
        height: calc(100% - 200px);
        padding-top: 100px; }
        #container > #sectionBox3 > #press > .shop {
          display: none; }
        #container > #sectionBox3 > #press > .minibox {
          width: 300px;
          height: 80%;
          margin-top: 50px;
          margin-left: 5%;
          float: left;
          background: url(../img/bg/bg_02.jpg) no-repeat;
          background-size: cover;
          position: relative; }
          #container > #sectionBox3 > #press > .minibox > a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative; }
            #container > #sectionBox3 > #press > .minibox > a > span {
              position: absolute;
              top: 50%;
              left: 50%;
              margin-left: -75px;
              margin-top: -15px;
              display: block;
              width: 150px;
              height: 30px;
              font-size: 2rem;
              text-align: center;
              color: #fff; }
          #container > #sectionBox3 > #press > .minibox:hover a {
            background-color: rgba(0, 0, 0, 0.6); }
        #container > #sectionBox3 > #press > .bigbox {
          background: url(../img/bg/bg_02.jpg) no-repeat;
          width: 49%;
          height: 100%;
          margin-right: 1%;
          float: right; }
    #container #footerBox {
      display: none; } }
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #container {
    width: 100%;
    height: 100%;
    position: relative;
    min-height: 500px; }
    #container > #headerBox {
      width: calc(100% - 20px);
      height: 60px;
      padding: 30px 10px 0 10px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 500; }
      #container > #headerBox > h1 {
        width: 200px;
        height: 30px;
        float: left; }
        #container > #headerBox > h1 > a {
          width: 100%;
          height: 100%;
          display: block;
          background-image: url("../img/header/h1.png");
          background-repeat: no-repeat;
          background-position: center center; }
      #container > #headerBox > #gnb {
        width: calc(100% - 200px);
        height: 20px;
        padding-top: 10px;
        float: right; }
        #container > #headerBox > #gnb > ul {
          float: right;
          width: 180px;
          height: auto; }
          #container > #headerBox > #gnb > ul > li {
            float: left;
            height: 20px;
            margin-right: 10px; }
            #container > #headerBox > #gnb > ul > li:nth-child(1) {
              width: 35px; }
            #container > #headerBox > #gnb > ul > li:nth-child(2) {
              width: 45px; }
            #container > #headerBox > #gnb > ul > li:nth-child(3) {
              width: 70px;
              margin-right: 0; }
            #container > #headerBox > #gnb > ul > li:nth-child(4) {
              display: none; }
            #container > #headerBox > #gnb > ul > li:nth-child(5) {
              display: none; }
            #container > #headerBox > #gnb > ul > li:nth-child(6) {
              display: none; }
            #container > #headerBox > #gnb > ul > li > a {
              font-size: 0.8rem;
              color: #003f85;
              text-align: center; }
              #container > #headerBox > #gnb > ul > li > a:hover {
                text-decoration: underline; }
    #container > #mainBanner {
      width: 100%;
      height: 100%;
      background-image: url("../img/pp/sulli/02.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: relative; }
      #container > #mainBanner > .shop {
        width: 200px;
        height: 150px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -80px;
        margin-left: -100px; }
        #container > #mainBanner > .shop > a {
          text-align: center;
          display: block;
          font: bold 4.5rem/4rem "arial";
          color: #fff; }
          #container > #mainBanner > .shop > a:hover {
            color: rgba(0, 63, 133, 0.8); }
      #container > #mainBanner > .btn {
        width: 100px;
        height: 30px;
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-bottom: 20px;
        margin-left: -45px; }
        #container > #mainBanner > .btn > a {
          width: 100%;
          height: 100%;
          display: block;
          background-image: url("../img/btn/bottom_03.png");
          background-repeat: no-repeat;
          background-size: 100% 100%; }
          #container > #mainBanner > .btn > a:hover {
            background-image: url("../img/btn/bottom.png");
            background-repeat: no-repeat;
            background-size: 100% 100%; }
    #container > #sectionBox1 {
      width: 100%;
      height: 100%; }
      #container > #sectionBox1 > #newArrivals {
        width: 100%;
        height: calc(100% - 200px);
        padding-top: 100px; }
        #container > #sectionBox1 > #newArrivals > .shop {
          display: none; }
        #container > #sectionBox1 > #newArrivals > .minibox {
          width: 300px;
          height: 80%;
          margin-top: 50px;
          margin-left: 5%;
          float: left;
          background: url(../img/bg/bg_02.jpg) no-repeat;
          background-size: cover;
          position: relative; }
          #container > #sectionBox1 > #newArrivals > .minibox > a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative; }
            #container > #sectionBox1 > #newArrivals > .minibox > a > span {
              position: absolute;
              top: 50%;
              left: 50%;
              margin-left: -75px;
              margin-top: -15px;
              display: block;
              width: 150px;
              height: 30px;
              font-size: 2rem;
              text-align: center;
              color: #fff; }
          #container > #sectionBox1 > #newArrivals > .minibox:hover a {
            background-color: rgba(0, 0, 0, 0.6); }
        #container > #sectionBox1 > #newArrivals > .bigbox {
          background: url(../img/bg/bg_02.jpg) no-repeat;
          width: 49%;
          height: 100%;
          margin-right: 1%;
          float: right; }
    #container > #sectionBox2 {
      width: 100%;
      height: 100%; }
      #container > #sectionBox2 > #collection {
        width: 100%;
        height: calc(100% - 200px);
        padding-top: 100px; }
        #container > #sectionBox2 > #collection > .shop {
          display: none; }
        #container > #sectionBox2 > #collection > .minibox {
          width: 300px;
          height: 80%;
          margin-top: 50px;
          margin-right: 5%;
          float: right;
          background: url(../img/bg/bg_02.jpg) no-repeat;
          background-size: cover;
          position: relative; }
          #container > #sectionBox2 > #collection > .minibox > a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative; }
            #container > #sectionBox2 > #collection > .minibox > a > span {
              position: absolute;
              top: 50%;
              left: 50%;
              margin-left: -75px;
              margin-top: -15px;
              display: block;
              width: 150px;
              height: 30px;
              font-size: 2rem;
              text-align: center;
              color: #fff; }
          #container > #sectionBox2 > #collection > .minibox:hover a {
            background-color: rgba(0, 0, 0, 0.6); }
        #container > #sectionBox2 > #collection > .bigbox {
          background: url(../img/bg/bg_02.jpg) no-repeat;
          width: 49%;
          height: 100%;
          margin-left: 1%;
          float: left; }
    #container > #sectionBox3 {
      width: 100%;
      height: 100%; }
      #container > #sectionBox3 > #press {
        width: 100%;
        height: calc(100% - 200px);
        padding-top: 100px; }
        #container > #sectionBox3 > #press > .shop {
          display: none; }
        #container > #sectionBox3 > #press > .minibox {
          width: 300px;
          height: 80%;
          margin-top: 50px;
          margin-left: 5%;
          float: left;
          background: url(../img/bg/bg_02.jpg) no-repeat;
          background-size: cover;
          position: relative; }
          #container > #sectionBox3 > #press > .minibox > a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative; }
            #container > #sectionBox3 > #press > .minibox > a > span {
              position: absolute;
              top: 50%;
              left: 50%;
              margin-left: -75px;
              margin-top: -15px;
              display: block;
              width: 150px;
              height: 30px;
              font-size: 2rem;
              text-align: center;
              color: #fff; }
          #container > #sectionBox3 > #press > .minibox:hover a {
            background-color: rgba(0, 0, 0, 0.6); }
        #container > #sectionBox3 > #press > .bigbox {
          background: url(../img/bg/bg_02.jpg) no-repeat;
          width: 49%;
          height: 100%;
          margin-right: 1%;
          float: right; }
    #container #footerBox {
      display: none; } }
@media screen and (min-width: 1025px) {
  #container {
    width: 100%;
    height: 100%;
    position: relative;
    min-width: 1025px;
    min-height: 800px; }
    #container > #headerBox {
      width: calc(100% - 40px);
      height: 60px;
      /* 100px */
      padding: 40px 10px 0 30px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 500; }
      #container > #headerBox > h1 {
        float: left;
        width: 200px;
        height: 40px; }
        #container > #headerBox > h1 > a {
          width: 100%;
          height: 100%;
          display: block;
          background-image: url("../img/header/h1.png");
          background-repeat: no-repeat; }
      #container > #headerBox > #gnb {
        width: 300px;
        height: auto;
        float: right;
        margin-top: 20px;
        margin-right: 50px; }
        #container > #headerBox > #gnb > ul {
          width: 100%;
          height: 20px; }
          #container > #headerBox > #gnb > ul > li {
            float: left;
            height: 100%; }
            #container > #headerBox > #gnb > ul > li:nth-child(1) {
              width: 40px;
              margin-right: 20px; }
            #container > #headerBox > #gnb > ul > li:nth-child(2) {
              width: 50px;
              margin-right: 20px; }
            #container > #headerBox > #gnb > ul > li:nth-child(3) {
              width: 80px;
              margin-right: 10px; }
            #container > #headerBox > #gnb > ul > li:nth-child(4) {
              width: 20px;
              margin-right: 10px; }
              #container > #headerBox > #gnb > ul > li:nth-child(4) > a {
                width: 100%;
                height: 100%;
                display: block;
                background-image: url(../img/logo/facebook_logo.png);
                background-repeat: no-repeat;
                background-size: 100% 100%; }
            #container > #headerBox > #gnb > ul > li:nth-child(5) {
              width: 20px;
              margin-right: 10px; }
              #container > #headerBox > #gnb > ul > li:nth-child(5) > a {
                width: 100%;
                height: 100%;
                display: block;
                background-image: url(../img/logo/instagram.png);
                background-repeat: no-repeat;
                background-size: 100% 100%; }
            #container > #headerBox > #gnb > ul > li:nth-child(6) {
              width: 20px;
              margin-right: 0; }
              #container > #headerBox > #gnb > ul > li:nth-child(6) > a {
                width: 100%;
                height: 100%;
                display: block;
                background-image: url(../img/logo/youtube_logo.png);
                background-repeat: no-repeat;
                background-size: 100% 100%; }
            #container > #headerBox > #gnb > ul > li > a {
              font-size: 0.875rem;
              color: #003f85;
              text-align: center; }
              #container > #headerBox > #gnb > ul > li > a:hover {
                text-decoration: underline;
                color: #fff; }
    #container > #mainBanner {
      width: 100%;
      height: 100%;
      background-image: url("../img/pp/sulli/02.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
      position: relative; }
      #container > #mainBanner > .shop {
        width: 200px;
        height: 150px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: -80px;
        margin-left: -100px; }
        #container > #mainBanner > .shop > a {
          text-align: center;
          display: block;
          font: bold 4.5rem/4rem "arial";
          color: #fff; }
          #container > #mainBanner > .shop > a:hover {
            color: rgba(0, 63, 133, 0.8); }
      #container > #mainBanner > .btn {
        width: 100px;
        height: 30px;
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-bottom: 20px;
        margin-left: -45px; }
        #container > #mainBanner > .btn > a {
          width: 100%;
          height: 100%;
          display: block;
          background-image: url("../img/btn/bottom_03.png");
          background-repeat: no-repeat;
          background-size: 100% 100%; }
          #container > #mainBanner > .btn > a:hover {
            background-image: url("../img/btn/bottom.png");
            background-repeat: no-repeat;
            background-size: 100% 100%; }
    #container > #sectionBox1 {
      width: 100%;
      height: 100%; }
      #container > #sectionBox1 > #newArrivals {
        width: 100%;
        height: calc(100% - 200px);
        padding-top: 100px; }
        #container > #sectionBox1 > #newArrivals > .shop {
          display: none; }
        #container > #sectionBox1 > #newArrivals > .minibox {
          width: 400px;
          height: 80%;
          margin-top: 50px;
          margin-left: 10%;
          float: left;
          background: url(../img/pp/sulli/01.jpg) no-repeat;
          background-size: cover;
          position: relative; }
          #container > #sectionBox1 > #newArrivals > .minibox > a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative; }
            #container > #sectionBox1 > #newArrivals > .minibox > a > span {
              position: absolute;
              top: 50%;
              left: 50%;
              margin-left: -75px;
              margin-top: -15px;
              display: block;
              width: 150px;
              height: 30px;
              font-size: 2rem;
              text-align: center;
              color: #fff; }
          #container > #sectionBox1 > #newArrivals > .minibox:hover a {
            background-color: rgba(0, 0, 0, 0.6); }
        #container > #sectionBox1 > #newArrivals > .bigbox {
          background: url("../img/pp/sulli/04.jpg") no-repeat;
          background-position: center center;
          width: 49%;
          height: 100%;
          margin-right: 1%;
          float: right; }
    #container > #sectionBox2 {
      width: 100%;
      height: 100%; }
      #container > #sectionBox2 > #collection {
        width: 100%;
        height: calc(100% - 200px);
        padding-top: 100px; }
        #container > #sectionBox2 > #collection > .shop {
          display: none; }
        #container > #sectionBox2 > #collection > .minibox {
          width: 400px;
          height: 80%;
          margin-top: 50px;
          margin-right: 10%;
          float: right;
          background: url(../img/pp/p_03.jpg) no-repeat;
          background-size: 100% 100%;
          position: relative; }
          #container > #sectionBox2 > #collection > .minibox > a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative; }
            #container > #sectionBox2 > #collection > .minibox > a > span {
              position: absolute;
              top: 50%;
              left: 50%;
              margin-left: -75px;
              margin-top: -15px;
              display: block;
              width: 150px;
              height: 30px;
              font-size: 2rem;
              text-align: center;
              color: #fff; }
          #container > #sectionBox2 > #collection > .minibox:hover a {
            background-color: rgba(0, 0, 0, 0.6); }
        #container > #sectionBox2 > #collection > .bigbox {
          background: url(../img/pp/p_01.png) no-repeat;
          background-position: center;
          background-size: cover;
          width: 49%;
          height: 100%;
          margin-left: 1%;
          float: left; }
    #container > #sectionBox3 {
      width: 100%;
      height: 100%; }
      #container > #sectionBox3 > #press {
        width: 100%;
        height: calc(100% - 200px);
        padding-top: 100px; }
        #container > #sectionBox3 > #press > .shop {
          display: none; }
        #container > #sectionBox3 > #press > .minibox {
          width: 400px;
          height: 80%;
          margin-top: 50px;
          margin-left: 10%;
          float: left;
          background: url(../img/pp/sulli/03.jpg) no-repeat;
          background-size: cover;
          position: relative; }
          #container > #sectionBox3 > #press > .minibox > a {
            display: block;
            width: 100%;
            height: 100%;
            position: relative; }
            #container > #sectionBox3 > #press > .minibox > a > span {
              position: absolute;
              top: 50%;
              left: 50%;
              margin-left: -75px;
              margin-top: -15px;
              display: block;
              width: 150px;
              height: 30px;
              font-size: 2rem;
              text-align: center;
              color: #fff; }
          #container > #sectionBox3 > #press > .minibox:hover a {
            background-color: rgba(0, 0, 0, 0.6); }
        #container > #sectionBox3 > #press > .bigbox {
          background: url(../img/pp/sulli/05.jpg) no-repeat;
          background-size: cover;
          width: 49%;
          height: 100%;
          margin-right: 1%;
          float: right; }
    #container #footerBox {
      display: none; } }

/*# sourceMappingURL=index.css.map */
