
#container{
	width: 100%;
	height: 100%;
   	>#headerBox{
      background-color: #fff;
   	}
    >#content{
        background-color: rgba(#f6f5ef,0.6);
        // background-image: url(../img/bg/section_bg1.jpg);
        // background-repeat: no-repeat;
        // background-size: cover;
        // background-position: center;
        // background-attachment: fixed;
    }
   	>#footerBox{
   		background-color: #acc;
   	}
}//#container


#popupFade{
    >.popupbox{
        >img{
            width: 100%;
        }
    }
    >button{
        background-image: url(../img/btn/exit.png);
        background-repeat: no-repeat;
        background-size: 105% 105%;
        background-color: #fff;
    }
}

// 처음 이미지 들어가있는것!!!
#popupUl{
    >li{
        >a{
            background-repeat: no-repeat;
            background-position: bottom;
            background-size:100%;
            transition: background-size 0.5s;
        &:hover{background-size:130%;}
        } // a

    &:nth-of-type(1)>a{background-image:url("../img/lookbook/1.jpg");}
    &:nth-of-type(2)>a{background-image:url("../img/lookbook/2.jpg");}
    &:nth-of-type(3)>a{background-image:url("../img/lookbook/3.jpg");}
    &:nth-of-type(4)>a{background-image:url("../img/lookbook/4.jpg");}
    &:nth-of-type(5)>a{background-image:url("../img/lookbook/5.jpg");}
    &:nth-of-type(6)>a{background-image:url("../img/lookbook/6.jpg");}
    &:nth-of-type(7)>a{background-image:url("../img/lookbook/7.jpg");}
    &:nth-of-type(8)>a{background-image:url("../img/lookbook/8.jpg");}
    &:nth-of-type(9)>a{background-image:url("../img/lookbook/9.jpg");}
    &:nth-of-type(10)>a{background-image:url("../img/lookbook/10.jpg");}
    &:nth-of-type(11)>a{background-image:url("../img/lookbook/11.jpg");}
    &:nth-of-type(12)>a{background-image:url("../img/lookbook/12.jpg");}
    &:nth-of-type(13)>a{background-image:url("../img/lookbook/13.jpg");}
    &:nth-of-type(14)>a{background-image:url("../img/lookbook/14.jpg");}
    &:nth-of-type(15)>a{background-image:url("../img/lookbook/15.jpg");}
    &:nth-of-type(16)>a{background-image:url("../img/lookbook/16.jpg");}
    &:nth-of-type(17)>a{background-image:url("../img/lookbook/17.jpg");}
    &:nth-of-type(18)>a{background-image:url("../img/lookbook/18.jpg");}
    &:nth-of-type(19)>a{background-image:url("../img/lookbook/19.jpg");}
    &:nth-of-type(20)>a{background-image:url("../img/lookbook/20.jpg");}
    }//li
}

#gnb{
  >ul{
    li{
    &:nth-child(1n+6){display: none;}
    }
  }
}
