
// pc
@media screen and (min-width:1025px) {


.inbox{
    width: 960px;
    height: auto;
    margin: 0 auto;
    padding: 100px 0;
}
    #container{

    //_____headerBox____________________
        >#headerBox{
            width: 100%;
            height: 6.25rem; //100px
            >.inbox{
                height: 100%;
                padding: 0;
                >#sitemap{
                    width: calc(100% - 10px);
                    padding: 2px 10px 2px 0;
                    height: 20px;
                    >ul{
                        float: right;
                        width: 300px;
                        height: 100%;
                        >li{
                            float: left;
                            height: 100%;
                            >a{font-size:0.75rem; color: #595959;display: block;line-height: 20px;}
                        &:nth-of-type(1){
                            width: 34px;
                            >a{width: 100%;height: 100%;}}
                        &:nth-of-type(2){
                            width: 26px;
                            >a{width: 100%;height: 100%;}}
                        &:nth-of-type(3){
                            width: 28px;
                            >a{width: 100%;height: 100%;}}
                        &:nth-of-type(4){
                            width: 38px;
                            >a{width: 100%;height: 100%;}}
                        &:nth-of-type(5){
                            width: 50px;
                            >a{width: 100%;height: 100%;}}
                        }//li
                        >span{
                            width: 5px;
                            height: 10px; //ul높이가 20
                            margin: 4px 10px 0 4px;
                            border-right: 1px solid #ccc;
                            float: left;
                        }
                    }//ul
                }//site_map
                >h1{
                    width: 200px;
                    height: 50px;
                    margin-top: 10px;
                    margin-left: 10px;
                    float: left;
                    >a{
                        display: block;
                        width: 100%;
                        height: 100%;
                        background: url(../img/header/h1.png) no-repeat 100%;
                    }
                }//h1
                >#gnb{
                    width: 600px;
                    height: 30px;
                    float: right;
                    margin-top: 35px;
                    margin-right: 10px;
                    >ul{
                        width: 100%;
                        height: 100%;
                        >li{
                            float: left;
                            margin-top: 10px;
                            margin-right: 20px;
                            line-height: 30px;
                            >a{font-size: 1rem; color:#595959; transition: all 0.3s;
                            &:hover{font-size: 1.1rem;}
                            }//a
                        &:nth-child(1){
                            width: 80px;
                            height: 100%; }
                        &:nth-child(2){
                            width: 110px;
                            height: 100%; }
                        &:nth-child(3){
                            width: 90px;
                            height: 100%; }
                        &:nth-child(4){
                            width: 90px;
                            height: 100%; }
                        &:nth-child(5){
                            width: 130px;
                            height: 100%; }
                      }//li
                    }//ul
                }//gnb
            }//.inbox
        }//#header
   
    //_____content______________________
        #content{
            width: 100%;
            height: auto;
            >.inbox{
                position: relative;
                //갤러리 팝업 상자
                >#popupFade{
                    width: 100%;
                    height: 100%;
                    position: fixed; z-index: 500; top: 0; left: 0;
                    background-color: rgba(0,0,0,0.1);
                    display: none;
                    >.popupbox{
                        width: 60%; height: auto; background-color: #fff;
                        border: 3px solid #67a; border-radius: 10px; box-sizing: border-box;
                        position: absolute; left: 20%; top: 15%;
                        box-shadow: 3px 3px 3px #ccc; overflow: hidden;
                    }//popupbox
                    >button{
                        width: 3rem; height: 3rem; background-color: #333;
                        position: absolute; right: calc(20% - 1.5rem); top: calc(15% - 1.5rem); z-index: 700;
                        border-radius: 50%; box-shadow: 2px 2px 2px #333;
                    &:hover{background-color: #bc1339;}
                    }//btn
                }//fade
                >h1{
                    padding: 10px 0;
                    width: 100%;
                    height: 30px; //총 50px
                    font-size: 1.75rem;
                    text-align: center
                }//h1
                >#popupUl{
                    width: 80%; height: auto; border: 5px solid #fcc; box-sizing: border-box;
                    margin-left: 10%; background-color: #fff;
                    >li{
                        width: 25%; height: 8rem;
                        background-color: #ffa;
                        float: left; border: 1px solid #ccc; box-sizing: border-box;
                        >a{width: 100%; height: 100%; display: block;}
                    }//li
                }//ul
            }//inbox
        }//content
        
    //_____FOOTER____________________
        >#footerBox{
            width: 100%;
            height: auto;
            position: relative;
            >button{
                position: absolute;
                bottom: 10px; right: 10px;
                z-index: 100;
                width: 50px;
                height: 50px;
                border-radius: 50%;
                background-color: #fff;
                background-image: url(../img/btn/m_t.png);
                background-repeat: no-repeat;
                background-size: 100%;
                background-position: center;
                box-shadow: 3px 3px 3px #555;
            }//btn
            >.inbox{
                padding: 30px 0 0 0;
                height: calc(100% - 30px);
                >#help{
                    width: 100%;
                    height: 150px;
                    >ul{
                        width: calc(100% - 20px); //960 - 20 = 940
                        height: calc(100% - 20px);
                        padding: 10px;
                        >li{
                            float: left;
                            height: calc(100% - 20px);
                            padding: 10px;
                            background-image: url(../img/bg/box.jpg);
                            background-repeat: no-repeat;
                            background-size: 100% 100%;
                            >h1{
                                width: 100%;
                                height: 35%;
                                text-align: center;
                                font-size: 1.5rem; }//h1
                        &:nth-child(1){
                            width: 260px;
                            margin-right: 20px;
                            >ul{
                                margin: 0 auto;
                                width: 200px;
                                height: 65%;
                                >li{width: 60px; height: 60px; float: left; margin-right: 10px;
                                &:nth-child(1){
                                    >a{
                                        display: block;
                                        width: 100%; height: 100%;
                                        background-image: url(../img/logo/logo.png);
                                        background-repeat: no-repeat;
                                        background-position: 0 0;
                                    }
                                }//li1
                                &:nth-child(2){
                                    >a{
                                        display: block;
                                        width: 100%; height: 100%;
                                        background-image: url(../img/logo/logo.png);
                                        background-position: 0 0;
                                        background-repeat: no-repeat;
                                        background-position: -60px 0;
                                    }
                                }//li2
                                &:nth-child(3){
                                    margin-right: 0;
                                    >a{
                                        display: block;
                                        width: 100%; height: 100%;
                                        background-image: url(../img/logo/logo.png);
                                        background-position: 0 0;
                                        background-repeat: no-repeat;
                                        background-position: -120px 0;
                                    }
                                }//li3
                                }//li
                            }//ul
                        }
                        &:nth-child(2){
                            width: 320px;
                            margin-right: 20px;
                            >p{
                                width: 100%;
                                height: 25%;
                                font-size: 0.8rem;
                                text-align: center;
                            }
                            >form{
                                width: 100%;
                                height: 40%;
                                >fieldset{
                                    width: 100%; height: 100%;
                                    >input{margin-left: 10px;text-indent:15px; width: 75%; height: 100%;}
                                    >button{width: 20%; height: 100%; font-size: 0.8rem;}
                                }//fieldset
                            }//form
                            }
                        &:nth-child(3){
                            width: 260px;
                            >p{text-align: center;
                                >a{color:#00a;}
                            }//p
                        }//li3
                        }//li
                    }//ul
                }
                >#text{
                    width: 100%;
                    height: 50px;
                    margin-top: 20px;
                    margin-bottom: 20px;
                    >ul{
                        background-image: url(../img/bg/textbox.jpg);
                        background-repeat: no-repeat;
                        background-size: 100% 100%;
                        margin: 0 auto;
                        padding: 0 20px;
                        width: 840px;
                        height: 100%;
                        >li{
                            padding: 10px 0;
                            height: 30px;
                            margin-right: 10px;
                            float: left;
                            >a{
                                color: #222;
                                font-size: 0.9rem;
                                line-height: 30px;}//a
                        &:nth-child(1){
                            width: 58px; }
                        &:nth-child(2){
                            width: 150px; }
                        &:nth-child(3){
                            width: 80px; }
                        &:nth-child(4){
                            width: 84px; }
                        &:nth-child(5){
                            width: 40px; }
                        &:nth-child(6){
                            width: 110px; }
                        &:nth-child(7){
                            width: 86px; }
                        &:nth-child(8){
                            width: 86px; }
                        &:nth-child(9){
                            width: 60px; margin-right: 0; }
                        }//li
                    }//ul
                }//#text
                >#company{
                    margin: 0 auto;
                    width: 780px;
                    padding: 1.5rem 0;
                    height: auto;
                    >p{color:#000;}
                    >p:nth-child(1){
                        font-size: 0.9rem;
                        line-height: 0.8rem;
                        margin-bottom: 10px;
                    }
                    >p:nth-child(2){font-size: 0.8rem; line-height: 0.8rem;}
                }//company
            }//inbox
        }//#footer
    }//#container
} //ALL




