// mobile_v
@media screen and (max-width:480px) {
    body{background-color: #9a1;}
#container{
	>#headerBox{
		padding:10px;
		width: calc(100% - 20px);
		height: 60px; //ì´80
		background-color: rgba(0,0,0,0.3);
		position: fixed;
		top: 0; left: 0;
		z-index: 500;
		>h1{}
		>#gnb{
			>ul{
				>li{}
			}//ul
		}//gnb
	}//header
	>#onepage{}//onepage
	>#box1{}//box1
	>#box2{}//box2
	>#box3{}//box3
	>#box4{}//box4
	>#box5{}//box5
	>#box6{}//box6
	>#footerBox{}//footer
}//container
}