// pc
@media screen and (min-width:1025px) {

#container{
	width: 100%;
	height: 100%;
	position: relative;
	>#headerBox{
		padding:20px;
		width: calc(100% - 40px);
		height: 80px; //ì´120
		background-color: rgba(0,0,0,0.3);
		position: fixed;
		top: 0; left: 0;
		z-index: 500;
		transition: all 0.3s;
		>h1{
			width: 200px;
			height: 100%;
			float: left;
			margin-left: 20px;
			>a{
				width: 100%;
				height: 100%;
				display: block;
				background-image: url(../images/header/h1_red.png);
				background-repeat: no-repeat;
				background-size: 100% 100%;
			}//a
		}//h1
		>#gnb{
			width: 600px;
			height: 80px;
			float: right;
			>ul{
				width: 100%;
				height: 100%;
				>li{
					overflow: hidden;
					border-radius: 50%;
					border: 5px solid #fff;
					width: 80px;
					height: 80px;
					margin-right: 10px;
					background-color: #acd;
					float: left;
				&:nth-child(1){
					background-image: url(../images/header/gnb/1.jpg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 100% 100%;
				}
				&:nth-child(2){
					background-image: url(../images/header/gnb/2.jpg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 100% 100%;
				}
				&:nth-child(3){
					background-image: url(../images/header/gnb/3.jpg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 100% 100%;
				}
				&:nth-child(4){
					background-image: url(../images/header/gnb/4.jpg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 100% 100%;
				}
				&:nth-child(5){
					background-image: url(../images/header/gnb/5.jpg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 100% 100%;
				}
				&:nth-child(6){
					margin-right: 0;
					background-image: url(../images/header/gnb/6.jpg);
					background-repeat: no-repeat;
					background-position: center;
					background-size: 100% 100%;
				}
				&:hover div{background-color: rgba(0,0,0,0.5);}
				&:hover a{display: block; color: #fff;}
					>div{
						width: 100%;
						height: 100%;
						>a{
							font-size: 1rem;
							line-height: 80px;
							text-align: center;
							display: block;
							width: 100%;
							height: 100%;
							display: none;
						}//a
					}//div
				}//li
			}//ul
		}//#gnb
	}//header
	>#main{
		background-color: #a9a;
		width: 100%;
		>#bannerBox{
			position: relative;
			width: 50%;
			height: 100%;
			overflow: hidden;	
			>ul.ban{
				width: 700%;
				height: 100%;
				margin-left: -100%;
				>li{
					width: calc(100% / 7);
					height: 100%;
					float: left;
				&.box1{
					background-image: url(../images/banner/1.jpg);
					background-repeat: no-repeat;
					background-size: 100% 100%;
				}
				&.box2{
					background-image: url(../images/banner/2.jpg);
					background-repeat: no-repeat;
					background-size: 100% 100%;
				}
				&.box3{
					background-image: url(../images/banner/3.jpg);
					background-repeat: no-repeat;
					background-size: 100% 100%;
				}
				&.box4{
					background-image: url(../images/banner/4.jpg);
					background-repeat: no-repeat;
					background-size: 100% 100%;
				}
				&.box5{
					background-image: url(../images/banner/5.jpg);
					background-repeat: no-repeat;
					background-size: 100% 100%;
				}
				&.box6{
					background-image: url(../images/banner/6.jpg);
					background-repeat: no-repeat;
					background-size: 100% 100%;
				}
				}//li
			}//ul.bannerul
			>.ind{
				width: 150px;
				height: 10px;
				background-color: #d9d;
				position: absolute;
				left: 50%; bottom: 10px;
				margin-left: -75px;
				>li{
					transition: width 0.5s;
					cursor: pointer;
					width: 10px;
					height: 10px;
					margin-right: 10px;
					background-color: #fff;
					border-radius: 40%;
					float: left;
				&.indWidth{width: 30px; background-color: #ccc;}
				&:last-child{margin-right: 0;}
				}//li
			}//.ind
			>.l_btn{
				position: absolute;
				z-index: 100;
				top: 50%; left: 10px;
				margin-top: -50px;
				cursor: pointer;
				width: 30px;
				height: 50px;
				background-image: url(../images/btn/left.png);
				background-size: 100% 100%;
				background-repeat: no-repeat; }//l_btn
			>.r_btn{
				position: absolute;
				z-index: 100;
				top: 50%; right: 10px;
				margin-top: -50px;
				cursor: pointer;
				width: 30px;
				height: 50px;
				background-image: url(../images/btn/right.png);
				background-size: 100% 100%;
				background-repeat: no-repeat; }//r_btn
		}//banner

	}//onepage
	>#homer{

	}
	>#marge{

	}
	>#bart{

	}
	>#lisa{

	}
	>#maggie{

	}
	>#pet{

	}
	>#footerBox{
		background-color: #daaaad;
		height: 120px;}
}//contianer
}