


/*--------------HEADER-----------------------------------*/

#wrap #header{
	height: 74px;
	/*background-color: #f5f5f5;*/
	padding-top: 16px;
}
h1{
	float: left;
	width: 98px;
	height: 60px;
	background-color: #fff;
}
h1>a{
	width: 100%;
	height: 100%;
	display: block;
	background-image: url(../images/logo.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	/*text-indent: -9999rem;*/
}
h1>a>span{
	/*width: 0;
	height: 0;
	display: block;
	overflow: hidden;*/
	display: none;
}
#sitemap{
	float: right;
	width: 226px;
	height: 15px;
	background-color: #f0f;
	margin-bottom: 3px;
}
#sitemap>ul{
	width: 100%;
	height: 100%;
}
#sitemap>ul>li{
	height: 100%;
	float: left;
}
#sitemap>ul>li.site_01{ width: 38px;}
#sitemap>ul>li.site_02{ width: 48px;}
#sitemap>ul>li.site_03{ width: 56px;}
#sitemap>ul>li.site_04{ width: 72px;}

#sitemap>ul>li.site_01>a{background-image: url("../images/sitemap_01.jpg");}
#sitemap>ul>li.site_02>a{background-image: url("../images/sitemap_02.jpg");}
#sitemap>ul>li.site_03>a{background-image: url("../images/sitemap_03.jpg");}
#sitemap>ul>li.site_04>a{background-image: url("../images/sitemap_04.jpg");}
#sitemap>ul>li>a{background-position: center;}

#gnb{
	float: right;
	width: 790px;
	height: 34px;
	background-color: #111;
}
#gnb>ul{
	width: inherit;
	height: inherit;}

#gnb>ul>li{
	height: 100%;
	float: left;
	margin-right: 20px;
}

#gnb>ul>li.gloval_nav_01{ width: 134px;}
#gnb>ul>li.gloval_nav_02{ width: 78px;}
#gnb>ul>li.gloval_nav_03{ width: 80px;}
#gnb>ul>li.gloval_nav_04{ width: 80px;}
#gnb>ul>li.gloval_nav_05{ width: 58px;}
#gnb>ul>li.gloval_nav_06{ width: 78px;}
#gnb>ul>li.gloval_nav_07{ width: 108px;}
#gnb>ul>li.gloval_nav_01>a{background-image: url("../images/gnb_01.jpg");}
#gnb>ul>li.gloval_nav_02>a{background-image: url("../images/gnb_02.jpg");}
#gnb>ul>li.gloval_nav_03>a{background-image: url("../images/gnb_03.jpg");}
#gnb>ul>li.gloval_nav_04>a{background-image: url("../images/gnb_04.jpg");}
#gnb>ul>li.gloval_nav_05>a{background-image: url("../images/gnb_05.jpg");}
#gnb>ul>li.gloval_nav_06>a{background-image: url("../images/gnb_06.jpg");}
#gnb>ul>li.gloval_nav_07>a{background-image: url("../images/gnb_07.jpg");}
#gnb>ul>li>a{background-position: center;}
