
html, body{height: 100%;}
section{height: 100%;}

* {}

#container{
	>#main{
		width: 100%;
		background-image: url(../images/bg/family.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}//onepage
	>#homer{
		width: 100%;
		background-image: url(../images/homer/bg_dark.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
	}//homer
	>#marge{
		width: 100%;
		background-image: url(../images/marge/bg_dark.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: left top;
	}//marge
	>#bart{
		width: 100%;
		background-image: url(../images/bart/bg_dark.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: center;
	}//bart
	>#lisa{
		width: 100%;
		background-image: url(../images/lisa/bg_dark.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: left top;
	}//lisa
	>#maggie{
		width: 100%;
		background-image: url(../images/maggie/bg_dark.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: left top;
	}//maggie
	>#pet{
		width: 100%;
		background-image: url(../images/pet/bg_dark.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: left top;
	}//pet
	>#footerBox{}//footer
}//container