/* ie_sementic.css */

#wrap{
	width: 960px;
}
#web_header{
	width: 100%;
	height: 300px;
	background-color: #afe;
	_width:100%;
	_height:300px;
	*width: 100%;
	*height: 300px;
}
#content{
	width: 100%;
	height: 300px;
	background-color: #f1f;
	_width:100%;
	_height:300px;
	*width: 100%;
	*height: 300px;
}
#container{
	width: 100%;
	height: 300px;
	background-color: #fa2;
	_width:100%;
	_height:300px;
	*width: 100%;
	*height: 300px;
}
#web_footer{
	width: 100%;
	height: 300px;
	background-color: #ccc;
	_width:100%;
	_height:300px;
	*width: 100%;
	*height: 300px;
}